<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="content-type" content="application/x-www-form-urlencoded" />

		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script>
			// meta
			! function(userAgent) {
				var screen_w = parseInt(window.screen.width),
					scale = screen_w / 640;
				if(/Android (\d+\.\d+)/.test(userAgent)) {
					var version = parseFloat(RegExp.$1);
					document.write(version > 2.3 ? '<meta name="viewport" content="width=640, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=640 target-densitydpi=device-dpi">');
				} else {
					document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
				}
			}(navigator.userAgent);
		</script>
		<title>金立全面屏联盟</title>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/animate.css" />
		<script>
		  	var _mtac = {"performanceMonitor":1};
		  	(function() {
		  		var mta = document.createElement("script");
		  		mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
		  		mta.setAttribute("name", "MTAH5");
		  		mta.setAttribute("sid", "500487943");
		  		mta.setAttribute("cid", "500526920");
		  		var s = document.getElementsByTagName("script")[0];
		  		s.parentNode.insertBefore(mta, s);
		  	})();
		</script>
	</head>

	<body>

		<!--music-->
		<div class="music1 music">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<audio src="music/H5BGM.mp3" id="musicAudio" loop="loop" preload="auto"></audio>
		
		<div class="music2 music">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<!--爆炸-->
		<audio src="music/baozha.mp3" id="baozha" preload="auto"></audio>
		
		<!--loading-->
		<div class="section loading">
			<span><img src="images/img-04.png"></span>
			<span><img src="images/img-03.png"></span>
			<span><img src="images/img-02.png"></span>
			<span>
				<img src="images/img-05.png">
				<img src="images/img-06.png">
			</span>
		</div>

		<!--内容-->
		<div class="section main">
			<div class="page">
				<div class="page-box">
					<div class="u-border-1"><img src="images/img-07.png"></div>
					<div class="u-border-2"></div>
					<div class="u-border-3">
						<span></span>
						<span></span>
						<span class="g-fk-1">
							<i></i>
							<i></i>
							<i></i>
						</span>
						<span class="g-fk-2">
							<i></i>
							<i></i>
							<i></i>
						</span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="g-video"><img src="images/img-36.png"></span>
						<span class="g-earth"><img src="images/img-37.png"></span>
						<span class="g-earth-2"><img src="images/img-37.png"></span>
						<span class="g-fk-3"></span>
					</div>
					<div class="g-line-1"><span></span></div>
					<div class="u-border-bias">
						<span><img src="images/img-24.png"></span>
						<span><img src="images/img-25.png"></span>
					</div>
					<div class="u-circle"><span><img src="images/img-10.png"></span></div>
					<div class="u-circle-2"><span><img src="images/img-33.png"></span></div>
					<div class="u-circle-3"><span><img src="images/img-34.png"></span></div>
					<div class="u-circle-4"><span><img src="images/img-40.png"></span></div>
					<div class="u-circle-5"><span><img src="images/img-41.png"></span></div>
					<div class="u-decorate">
						<span></span>
						<span><img src="images/img-13.png"></span>
						<span></span>
						<span></span>
						<span></span>
						<span><img src="images/img-12.png"></span>
					</div>
					<!--总有一些约定俗称限定想象-->
					<div class="u-text-1">
						<span>
							<i><img src="images/img-08-01.png"></i>
							<i><img src="images/img-08-02.png"></i>
							<i><img src="images/img-08-03.png"></i>
							<i><img src="images/img-08-04.png"></i>
							<i><img src="images/img-08-05.png"></i>
							<i><img src="images/img-08-06.png"></i>
							<i><img src="images/img-08-07.png"></i>
							<i><img src="images/img-08-08.png"></i>
							<i><img src="images/img-08-09.png"></i>
							<i><img src="images/img-08-10.png"></i>
							<i><img src="images/img-08-11.png"></i>
							<i><img src="images/img-08-12.png"></i>
						</span>
					</div>
					<!--在沉默中习惯接受忘记改变-->
					<div class="u-text-2">
						<span>
							<i><img src="images/img-14-01.png"></i>
							<i><img src="images/img-14-02.png"></i>
							<i><img src="images/img-14-03.png"></i>
							<i><img src="images/img-14-04.png"></i>
							<i><img src="images/img-14-05.png"></i>
							<i><img src="images/img-14-06.png"></i>
							<i><img src="images/img-14-07.png"></i>
							<i><img src="images/img-14-08.png"></i>
							<i><img src="images/img-14-09.png"></i>
							<i><img src="images/img-14-10.png"></i>
							<i><img src="images/img-14-11.png"></i>
							<i><img src="images/img-14-12.png"></i>
						</span>
					</div>
					<!--就像16:9 就是唯一的 可能-->
					<div class="u-text-3">
						<span>
							<i><img src="images/img-16-01.png"></i>
							<i><img src="images/img-16-02.png"></i>
							<i><img src="images/img-16-03.png"></i>
							<i><img src="images/img-16-04.png"></i>
							<i><img src="images/img-16-05.png"></i>
							<i><img src="images/img-16-06.png"></i>
							<i><img src="images/img-16-07.png"></i>
							<i><img src="images/img-16-08.png"></i>
							<i><img src="images/img-16-09.png"></i>
							<i><img src="images/img-16-10.png"></i>
							<i><img src="images/img-16-11.png"></i>
							<i><img src="images/img-16-12.png"></i>
						</span>
					</div>

					<!--但沉默 也催生出一股力量-->
					<div class="m-text-1"><img src="images/img-20.png"></div>

					<!--和一颗颗想要改变的 勇者之心-->
					<div class="m-text-2"><img src="images/img-26.png"></div>

					<!--它们生来  眼界广阔， 因共同的信念集结在这一刻-->
					<div class="m-text-3">
						<span><img src="images/img-29.png"></span>
						<span><img src="images/img-31.png"></span>
					</div>

					<!--组成正义的全面屏联盟-->
					<div class="m-text-4">
						<span><img src="images/img-38.png"></span>
						<span><img src="images/img-28.png"></span>
						<span><img src="images/img-39.png"></span>
					</div>

					<!--为开启 18：9 的新视界而来-->
					<div class="m-text-5">
						<span><img src="images/img-43.png"></span>
						<span><img src="images/img-45.png"></span>
						<span><img src="images/img-46.png"></span>
					</div>

					<!--右下角数据图-->
					<div class="trend">
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
					</div>

					<!--左上角数据图-->
					<div class="data-map"></div>

					<!--主体--盒子-->
					<div class="iron-box">
						<span><img src="images/img-18.png"></span>
						<div class="hezi">
							<span><img src="images/img-19.png"></span>
							<span class="g-light-1"><img src="images/img-44.png"></span>
						</div>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
					</div>

					<!---->
					<canvas id="canvas" class="canvas"></canvas>

					<!--中间框的元素-->
					<div class="c-border-1">
						<span><img src="images/img-22.png"></span>
					</div>

					<div class="c-border-2">
						<span><img src="images/img-27.png"></span>
					</div>

					<div class="c-border-3">
						<span><img src="images/img-35.png"></span>
					</div>

					<!--按钮-->
					<div class="g-btn"><img src="images/img-42.png"></div>

				</div>
			</div>
		</div>

		<!--视频-->
		<div class="section video-box">
			<canvas id="IOSCanvas"></canvas>
			<video class="video" src="video/video.mp4" width="640" preload="auto" x5-video-player-type="h5" x5-video-player-fullscreen="true" x-webkit-airplay="true" x5-playsinline="" playsinline="" webkit-playsinline="true"></video>
		</div>

		<!--海报选择-->
		<div class="section mobile-box">
			<div class="mobile-container">
				<div class="mobile one">
					<span><img src="images/m7.png"></span>
					<span><img src="images/m7.png"></span>
					<span><img src="images/m7plus.png"></span>
				</div>
				<div class="mobile two">
					<span><img src="images/s11.png"></span>
					<span><img src="images/s11.png"></span>
					<span><img src="images/s11s.png"></span>

				</div>
				<div class="mobile three2">
					<span><img src="images/jingang2.png"></span>
					<span><img src="images/jingang2.png"></span>
					<span><img src="images/jingang3.png"></span>
				</div>
				<div class="mobile four">
					<span><img src="images/f6.png"></span>
					<span><img src="images/f6.png"></span>
					<span><img src="images/f205.png"></span>
				</div>
				<div class="zz"><img src="images/img-60.png"></div>
				<ul class="t-title">
					<li><img src="images/img-51.png"></li>
					<li><img src="images/img-48.png"></li>
					<li><img src="images/img-50.png"></li>
					<li><img src="images/img-49.png"></li>
				</ul>

				<!--生产海报按钮-->
				<div class="createBtn"><img src="images/img-61.png"></div>

				<div class="twoBtn">
					<span class="again"><img src="images/img-52.png"></span>
					<span class="share-btn"><img src="images/img-53.png"></span>
				</div>

				<!--海报-->
				<div class="poster">
					<div class="poster-box">
						<div class="p-close"><img src="images/img-54.png"></div>
						<i><img src="" id="userpoter"></i>
					</div>
				</div>
				<div id="qrcodeCanvas" style="display: none;"></div>

				<!--提示用户左右滑动-->
				<div class="u-hint"><img src="images/img-47.png"></div>

			</div>
			<p class="p-text">长按海报保存图片<br>呼唤更多伙伴为金立全面屏联盟打CALL!</p>
		</div>

		<!--分享-->
		<div class="share">
			<span><img src="images/img-62.png"></span>
		</div>

	</body>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/pxloader-all.min.js"></script>
	<script type="text/javascript" src="js/wx-video-audio-hack.js"></script>
	<script type="text/javascript" src="js/jquery.qrcode.js"></script>
	<script type="text/javascript" src="js/utf.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	

</html>