* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-width: 1200px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.loading{
	width: 100%;
	height: 100%;	
	background: #FFFFFF;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
}
.loading p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
}
.container {
	width: 1260px;
	height: 900px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	overflow: hidden;
	background: #fbf6f0;
}

.map-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
}

#map {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	cursor: move;
}

#map img {
	display: block;
	width: 100%;
}

.scene {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
}

.scene a {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.showInfo {
	width: auto;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background: #fff;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	padding: 10px;
	z-index: 10;
	display: none;
	cursor: pointer;
}

.showInfo:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	position: absolute;
	left: 50%;
	bottom: -6px;
	transform: translate3d(-50%, 0%, 0);
	-webkit-transform: translate3d(-50%, 0%, 0);
}

.showInfo p {
	display: block;
	line-height: 20px;
	font-size: 16px;
	color: #333;
	text-align: center;
}

.map-controls {
	width: 100px;
	height: 160px;
	/*background: rgba(0,0,0,0.1);*/
	position: fixed;
	bottom: 50px;
	right: 30px;
}

.map-controls span {
	display: block;
	width: 5px;
	height: 150px;
	border-radius: 5px;
	background: #315c0d;
	border: 3px solid rgba(255, 255, 255, 1);
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 50px;
}

.map-controls span i {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(../images/btn-icon.png);
	position: absolute;
	top: 0px;
	left: -13px;
	cursor: pointer;
	/*border: 3px solid #FFFFFF;
	box-sizing: border-box;*/
	overflow: hidden;
}
/*.map-controls span i:before,.map-controls span i:after{
	content: "";
	width: 2px;
	height: 26px;
	display: block;
	background: #455d09;
	position: absolute;
	top: 0px;
}
.map-controls span i:before{
	left: 8px;
}
.map-controls span i:after{
	left: 13px;
}*/
.reset {
	width: 60px;
	height: 26px;
	position: absolute;
	bottom: -40px;
	right: -6px;
	background: #315c0d;
	border: 3px solid #FFFFFF;
	z-index: 100;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	border-radius: 30px;
	color: #FFFFFF;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
}

.magnify,
.shrink {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #FFFFFF;
	position: absolute;
	right: 0px;
	text-align: center;
	line-height: 50%;
	font-size: 50px;
	cursor: pointer;
}

.magnify {
	bottom: 5px;
}

.shrink {
	top: 5px;
}

.shrink:before {
content: "";
    width: 13px;
    height: 3px;
    background: #315c0d;
    display: block;
    position: absolute;
    top: 11px;
    left: 6px;
}

.magnify:before,
.magnify:after {
	content: "";
	display: block;
	background: #315c0d;
	position: absolute;
}

.magnify:before {
    width: 13px;
    height: 3px;
    top: 11px;
    left: 6px;
}

.magnify:after {
    width: 3px;
    height: 13px;
    top: 6px;
    left: 11px;
}