.u-about-1 {
	width: 1200px;
}

.u-left-about {
	width: 740px;
	padding: 50px 40px;
}

.u-right-about {
	width: 380px;
}

.u-right-box {
	padding: 50px 40px;
}

.u-about-attitude {
	width: 1120px;
	margin: auto;
	padding: 180px 40px 0 40px;
}

.details-strategy .details-insight-box {
	width: 1200px;
}

.details-strategy {
	height: 1300px;
}