<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>东莞旅游地图</title>
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		
		<!--loading-->
		<div class="loading"><p>正在加载...</p></div>
		
		<div class="container">
			
			
			
			<div class="map-box" id="box">
				<div class="scene">
					<div id="map"><img src=""></div>
					<div class="showInfo">
						<p></p>
					</div>
				</div>
			</div>
			<div class="map-controls">
				<span>
					<i></i>
				</span>
				<div class="magnify"></div>
				<div class="shrink"></div>
				<div class="reset">复位</div>
			</div>
			
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="js/pxloader-all.js" ></script>
	<script type="text/javascript" src="js/data.js" ></script>
	<script type="text/javascript" src="js/main6.js"></script>

</html>