<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="format-detection" content="telephone=no" />
		<script>
			// class
			! function(navigator) {
				var userAgent = navigator.userAgent;
				documentElement = document.documentElement;
				if(userAgent.match(/micromessenger\/5/gi)) {
					documentElement.className += " mobile wx_mobile wx_mobile_5";
				} else if(userAgent.match(/micromessenger/gi)) {
					documentElement.className += " mobile wx_mobile";
				} else if(userAgent.match(/ucbrowser/gi)) {
					documentElement.className += " mobile uc_mobile";
				} else if(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent.toLowerCase())) {
					documentElement.className += " mobile";
				} else if(userAgent.toLowerCase().match(/msie/gi) && (parseFloat(userAgent.toLowerCase().match(/msie ([0-9]{1,}[\.0-9]{0,})/i)[1] || 999) < 9)) {
					documentElement.className += " pc pc-ie pc-ie8";
				} else if(userAgent.toLowerCase().match(/msie/gi) || navigator.msPointerEnabled || navigator.pointerEnabled) {
					documentElement.className += " pc pc-ie";
				} else {
					documentElement.className += " pc";
				}
			}(navigator);
			// meta
			! function(userAgent) {
				var screen_w = parseInt(window.screen.width),
					scale = screen_w / 640;
				if(/Android (\d+\.\d+)/.test(userAgent)) {
					var version = parseFloat(RegExp.$1);
					document.write(version > 2.3 ? '<meta name="viewport" content="width=640, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=640 target-densitydpi=device-dpi">');
				} else {
					document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
				}
			}(navigator.userAgent);
		</script>
		<title>一言不合就给赞</title>
		<link rel="stylesheet" href="css/style.css" />
		<script>
			window.onload = function() {
				$('.zhuanpan').show();
				setTimeout(function() {
					$('.hint-layer').fadeOut();
				}, 5000);
				$('.hint-close').on('touchstart', function(e) {
					e.preventDefault();
					$('.hint-layer').hide();
				});
			}
		</script>
	</head>

	<body>
		<!--遮罩层-->
		<div class="hint-layer">
			<div class="hint-close"><img src="images/close.png"></div>
		</div>

		<!--内容-->
		<div class="container zhuanpan">
			<div class="m-dial" id="dial">
				<div class="u-list" id="u_list">
					<a href="pinganyinhang/pinganyinhang.html">平安银行</a>
					<a href="puhui/puhui.html">普惠</a>
					<a href="chanxian/chanxian.html">产险</a>
					<a href="jituan/jituan.html">集团</a>
					<a href="jijin/jijin.html">基金</a>
					<a href="javascript:;"></a>
					<a href="yizhangtong/yizhangtong.html">亿账通</a>
					<a href="xintuo/xingtuo.html">信托</a>
					<a href="zhengquan/zhengquan.html">证券</a>
					<a href="pinganyiqianbao/pinganyiqianbao.html">平安壹钱包</a>
					<a href="shouxian/shouxian.html">寿险</a>
					<a href="jinfu/jinfu.html">金服</a>
					<a href="jiankanghulian/jiankanghulian.html">健康互联网</a>
					<a href="haofang/haofang.html">好房</a>
					<a href="keji/keji.html">科技</a>
				</div>
			</div>
			<div class="tip"><img src="images/tishi.png"></div>
			<div class="yun">
				<p>听产品人亲自讲述，请前往知鸟集团首页《产品说》专区</p>
			</div>
		</div>
	</body>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/style1.js"></script>

</html>