<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>创始人</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/about/img-01.jpg">
		</div>

		<!--nav-->
		<div class="subnav" id="wrapper">
	        <ul>
				<li class="subnav-active">
					<a href="company.html">公司背景</a>
				</li>
				<li>
					<a href="originator.html">创始人</a>
				</li>
				<li>
					<a href="ourteam.html">我们的团队</a>
				</li>
				<li>
					<a href="ourservices.html">我们的服务</a>
				</li>
				<li>
					<a href="contactUS.html">联系我们</a>
				</li>
				<li>
					<a href="reserve.html">预约家居形象师</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
			<div class="c-box">
				<div class="background">
					<span><img src="../images/about/img-04.jpg"></span>
					<span>
						<p>公司背景</p>
						<p>BACKGROUND</p>
					</span>
				</div>
				<div class="c-info">
					<h1>瑞思国际</h1>
					<h2>MRAISE INTERNATIONAL</h2>
					<p>瑞思国际创立于2004 年，在家居行业经过11 年的专注发展，已经成为知名的全球高端家具和家居产品一站式整合平台及高端软装设计服务提供商。</p>
					<p>瑞思国际以专业的服务，为高档别墅、豪宅、会所、高端样板房等客户提供一站式软装设计和高品质、高价值的家具以及家居饰品。</p>
					<p>服务过众多驰名业界的项目：包括鲸山觐海、仁山智水 、蘭悦会、博雅滨江、北大资源、乌鲁木齐滑雪场等。</p>
				</div>
			</div>
			
			<div class="c-box c-padding">
				<div class="c-title">
					<span>瑞思家居</span>
					<span>RAISE HOME</span>
				</div>
				<div class="c-img">
					<span><img src="../images/about/img-05.jpg"></span>
				</div>
				<div class="c-info">
					<p>瑞思家居为瑞思国际重要组成分支之一，已经发展成为全球顶尖家居品牌资源战略整合平台，专营高品质、高价值的家具和家居饰品，拥有多家高端品牌专卖店，其中深圳的直营商场面积达到5000 平方米。</p>
					<p>瑞思家居自创办以来，凭借卓越的创新精神，敏锐的设计市场和家居文化洞察力，立足国际视野高度，从本土文化、生活出发，以中国当代高端人居生活方式为起点，把脉家居潮流方向，以“瑞思高端家居一体化整合服务”模式服务于国内及本土消费市场。兄弟公司致尚生活艺术国际有限公司拥有高端生活品牌：La Maison Mode。</p>
					<p>瑞思家居的兄弟公司La Maison Mode，是瑞思集团中的设计先锋和创意力量。凭藉自身的品牌创新能力和瑞思家居积累多年的市场地位和网络，La Maison Mode 致力于提供现代家居设计整体解决方案服务，提倡以人为本的创意理念，核心以服务为准。</p>
				</div>
			</div>
			
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/iscroll.js" ></script>
	<script>
		
		$(document).ready(function() {
			var aLi = $('.subnav ul li').length;
			var oUlWidth = aLi * 7.5;
			$('.subnav ul').css({
				width: oUlWidth + 'rem'
			})
			var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
