<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>

	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>

		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>

		<div class="s-img">
			<img src="../images/about/img-01.jpg">
		</div>

		<!--nav-->
		<div class="subnav" id="wrapper">
	        <ul>
				<li>
					<a href="company.html">公司背景</a>
				</li>
				<li class="subnav-active">
					<a href="originator.html">创始人</a>
				</li>
				<li>
					<a href="ourteam.html">我们的团队</a>
				</li>
				<li>
					<a href="ourservices.html">我们的服务</a>
				</li>
				<li>
					<a href="contactUS.html">联系我们</a>
				</li>
				<li>
					<a href="reserve.html">预约家居形象师</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
				
			<!--公司创始人-->
			<div class="b-block">
				<div class="t-title">
					<span>T</span><span>公司创始人</span>
				</div>
				<div class="t-text">
					<p>瑞思国际家居主要创始人、La Maison Mode 品牌发起人Joe Wang，拥有丰富的海外游学经历及逾十年的家具、家居行业整合经验；一直致力于异国风情与中国现代家居的融合创新，擅长艺术与商业的结合，致力于在中国打造全新的高端生活方式品牌。</p>
				</div>
				<div class="o-img">
					<span><img src="../images/about/img-02.jpg"></span>
					<div class="o-info">
						<h1>JOE WANG</h1>
						<p>Gerenal Manager</p>
					</div>
				</div>
				<div class="man-info">
					<p>Camille Kwan 关洁仪小姐，二十八年时装创意经验，工作范围广泛于"Total Fashion Branding 全方位时尚品牌工程"、" Total Fashion Design 全方位时装创意工程"、时装制作、形象塑造等经验。关洁仪小姐近十多年专注中国服装市场，曾担任国内著名时装品牌 品牌创意总监 / 设计总监，服务品牌有：著名羊绒品牌 鄂尔多斯（Erdos Cashmere）, 玛丝菲尔（Marisfrolg）, 歌力思（Ellassy）等。</p>
					<p>Camille Kwan 关洁仪小姐一直纵横中西艺术文化，对于时装与艺术文化之中的关系，及与不同社会现象等关系都有独特见解；Camille 擅长创意整合，喜把不同文化元素跨界创作。近年Camille 的工作项目多在高端艺术生活用品市场。如：皆一堂艺术生活馆，瑞思优质生活概念等艺术生活馆概念"The Art of Fine Living " 都是综合时尚/ 家居/ 社交/ 艺术/ 文化 等高端生活美学。</p>
				</div>
				<div class="o-img">
					<span><img src="../images/about/img-03.jpg"></span>
					<div class="o-info">
						<h1>JOE WANG</h1>
						<p>Gerenal Manager</p>
					</div>
				</div>
			</div>
			
			
		</div>
		
		</div>
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/iscroll.js" ></script>
	<script>
		$(document).ready(function() {
			var aLi = $('.subnav ul li').length;
			var oUlWidth = aLi * 7.5;
			$('.subnav ul').css({
				width: oUlWidth + 'rem'
			})
			var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});
		})
	</script>
	<script>
		window._bd_share_config = {
				//此处添加分享具体设置
				common: {
					bdText: '自定义分享内容',
					bdDesc: '自定义分享摘要',
					bdUrl: '自定义分享url地址',
					bdPic: '自定义分享图片'
				},
				share: [{
					"bdSize": 16
				}]
			}
			//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>

</html>