<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>我们的团队</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/about/img-01.jpg">
		</div>

		<!--nav-->
		<div class="subnav" id="wrapper">
	        <ul>
				<li>
					<a href="company.html">公司背景</a>
				</li>
				<li>
					<a href="originator.html">创始人</a>
				</li>
				<li class="subnav-active">
					<a href="ourteam.html">我们的团队</a>
				</li>
				<li>
					<a href="ourservices.html">我们的服务</a>
				</li>
				<li>
					<a href="contactUS.html">联系我们</a>
				</li>
				<li>
					<a href="reserve.html">预约家居形象师</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
			<div class="b-block">
				<div class="t-title">
					<span>L</span><span>我们的团队</span>
				</div>
				<div class="t-text">
					<p>致. 生活团队集合优质的具有丰富经验的精英，打造综合时尚，生活，艺术，文化一体的优质团队，在这里每一位LMM 精英懂得享受生活，品味生活的点滴，所以打造出别具一格的致生活品牌。</p>
				</div>
				<div class="ourteam">
					<ul class="o-ul">
						<li>
							<span><img src="../images/about/team-01.jpg"></span>
							<span>
								<h1>品牌部</h1>
								<p>Brand Director</p>
							</span>
						</li>
						<li>
							<span><img src="../images/about/team-02.jpg"></span>
							<span>
								<h1>CAMILLE KWAN</h1>
								<p>Brand Director</p>
							</span>
						</li>
						<li>
							<span><img src="../images/about/team-03.jpg"></span>
							<span>
								<h1>品牌部</h1>
								<p>Brand Director</p>
							</span>
						</li>
						<li>
							<span><img src="../images/about/team-04.jpg"></span>
							<span>
								<h1>品牌部</h1>
								<p>Brand Director</p>
							</span>
						</li>
						<li>
							<span><img src="../images/about/team-05.jpg"></span>
							<span>
								<h1>品牌部</h1>
								<p>Brand Director</p>
							</span>
						</li>
						<li>
							<span><img src="../images/about/team-06.jpg"></span>
							<span>
								<h1>品牌部</h1>
								<p>Brand Director</p>
							</span>
						</li>
					</ul>
					<!--按钮-->
					<div class="change-btn">
						<div class="c-lists">
							<ul>
								<li>1</li>
								<li>2</li>
								<li>3</li>
							</ul>
						</div>
						<span class="b-prev"><img src="../images/perv-btn.png"></span>
						<span class="b-next"><img src="../images/next-btn.png"></span>
					</div>
				</div>
			</div>
			
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/iscroll.js" ></script>
	<script>
		
		$(document).ready(function() {
			var aLi = $('.subnav ul li').length;
			var oUlWidth = aLi * 7.5;
			$('.subnav ul').css({
				width: oUlWidth + 'rem'
			})
			var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
