<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>预约家居形象师</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/about/img-01.jpg">
		</div>

		<!--nav-->
		<div class="subnav" id="wrapper">
	        <ul>
				<li>
					<a href="company.html">公司背景</a>
				</li>
				<li>
					<a href="originator.html">创始人</a>
				</li>
				<li>
					<a href="ourteam.html">我们的团队</a>
				</li>
				<li>
					<a href="ourservices.html">我们的服务</a>
				</li>
				<li>
					<a href="contactUS.html">联系我们</a>
				</li>
				<li class="subnav-active">
					<a href="reserve.html">预约家居形象师</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
			<div class="s-info yuyue">
				<h1>马上预约您的室内设计师</h1>
				<p>我们都知道装修是一件麻烦的事情。无论您是新房装修或是添置单件家具，我们一应俱全。安排一个合适的时间并且发送预约申请，我们就会先与您通一番电话。</p>
				<p>室内设计服务是完全免费的。</p>
				<span>
					<img src="../images/about/img-09.jpg">
				</span>
			</div>
			
			<div class="f-form">
				<form>
					
					<div class="label1">
						<span>姓名</span>
						<input type="text" name="username" placeholder="请输入您的姓名" />
					</div>
					<div class="label1">
						<span>地址</span>
						<input type="text" name="useradd" placeholder="请输入您的地址" />
					</div>
					<div class="label1">
						<span>邮编</span>
						<input type="text" name="userpost" placeholder="请输入您的邮编号码" />
					</div>
					<div class="label1">
						<span>城市</span>
						<input type="text" name="usercity" placeholder="请输入您的所在的城市" />
					</div>
					<div class="label1">
						<span>专卖店</span>
						<select>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<div class="label1">
						<span>联系电话</span>
						<input type="text" name="usertel" placeholder="请输入您的联系电话"  />
					</div>
					<div class="label1">
						<span>邮箱</span>
						<select>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<div class="label5">
						<span>你最关注的空间</span>
						<label>
							<input type="checkbox" /><p>中国</p>
						</label>
						<label>
							<input type="checkbox" /><p>美国</p>
						</label>
						<label>
							<input type="checkbox" /><p>英国</p>
						</label>
						<label>
							<input type="checkbox" /><p>德国</p>
						</label>
						<label>
							<input type="checkbox" /><p>法国</p>
						</label>
					</div>
					<div class="label2">
						<span>你希望与室内设计顾问探讨的几个关键词语</span>
						<textarea></textarea>
					</div>
					<div class="label3">
						<span>附件</span>
						<div class="upfile">
							<p>选择文件</p>
							<input type="file" value="" />
						</div>
						<p>( 仅限PDF或JPG格式文件)</p>
					</div>
					<div class="label4">
						<input type="submit" value="发送" />
					</div>
				</form>
			</div>
			
			<div class="step">
				<span><img src="../images/about/img-10.jpg"></span>
				<div class="step-lists">
					<h1>1. 获取灵感</h1>
					<p>在您当地的BoConcept专卖店中，我们展现多种设计灵感，室内设计师也会与您探讨您的需求。</p>
				</div>
				<div class="step-lists">
					<h1>2. 解决方案</h1>
					<p>接下来设计师会拜访您家中上门量房，或者您也可以将房型图及照片带来店中讨论。然后我们就将个人品味和功能需求逐一地落实到细节方案上。</p>
				</div>
				<div class="step-lists">
					<h1>3. 设计空间</h1>
					<p>无论是5平米或是500平米，我们都会绘制一张设计图来实现空间的价值和您的梦想。</p>
				</div>
				<div class="step-lists">
					<h1>4. 确认设计</h1>
					<p>我们在专卖店中再次会面，向您展示设计方案。通过3D软件的场景模拟，我们能更真切地感受效果。与此同时，在专卖店内也能真实体验到家居的材质和细节。</p>
				</div>
				<div class="step-lists">
					<h1>5. 订货交付</h1>
					<p>当您对设计方案完全满意了之后，我们开始操作订货。我们的专业服务团队会上门进行快捷的交付和组装，您只需要暇地享受。</p>
				</div>
			</div>
			<div class="s-img">
				<span><img src="../images/about/img-11.jpg"></span>
			</div>
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/iscroll.js" ></script>
	<script>
		
		$(document).ready(function() {
			var aLi = $('.subnav ul li').length;
			var oUlWidth = aLi * 7.5;
			$('.subnav ul').css({
				width: oUlWidth + 'rem'
			})
			var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
