<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>产品分类</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/life/img-01.jpg">
		</div>
		
		<div class="pro-class">
			<ul>
				<li><a href="brand.html">品牌</a></li>
				<li class="pro-active"><a href="lifeclass.html">产品分类</a></li>
			</ul>
		</div>
		
		
		<!--nav-->                                                  
		<div class="subnav pro" id="wrapper">
	        <ul>
				<li class="subnav-active">
					<a href="javascript:;">家私</a>
				</li>
				<li>
					<a href="javascript:;">灯饰</a>
				</li>
				<li>
					<a href="javascript:;">画</a>
				</li>
				<li>
					<a href="javascript:;">地毯</a>
				</li>
				<li>
					<a href="javascript:;">窗帘墙纸</a>      
				</li>
				<li>
					<a href="javascript:;">家居饰品</a>
				</li>
				<li class="">
					<a href="javascript:;">家私</a>
				</li>
				<li>
					<a href="javascript:;">灯饰</a>
				</li>
				<li>
					<a href="javascript:;">画</a>
				</li>
				<li>
					<a href="javascript:;">地毯</a>
				</li>
				<li>
					<a href="javascript:;">窗帘墙纸</a>      
				</li>
				<li>
					<a href="javascript:;">家居饰品</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
			<div class="gift-box">
				<ul>
					<li>
						<span><a href=""><img src="../images/life/img-02.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-04.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-05.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-06.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-07.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-08.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-09.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-10.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href=""><img src="../images/life/img-11.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/life/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span>1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
				</ul>
				
				<!--按钮-->
				<div class="change-btn">
					<div class="c-lists">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
					<span class="b-prev"><img src="../images/perv-btn.png"></span>
					<span class="b-next"><img src="../images/next-btn.png"></span>
				</div>
				
			</div>
			
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<!--<script type="text/javascript" src="../js/iscroll.js" ></script>-->
	<script>
		
		$(document).ready(function() {
			var aLi = $('.subnav ul li');
			var aW=[];
			for(var i=0;i<aLi.length;i++){
				//console.log($(aLi[i]).width());
				aW.push($(aLi[i]).width());
			}	
			var n=0;
			for(var i=0;i<aW.length;i++){
				n+=aW[i];
			}
			$('.subnav ul').css({
				width: (n+aW.length*40) + 'px'
			});
			
			var proulwidth=$('.pro-class ul li').length*$('.pro-class ul li').width()
			//var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});
			$('.pro-class ul').css({
				width:proulwidth+'px',
				left:($('.pro-class').width()-proulwidth)/2+'px'
			});
			$('.pro ul li').on('click',function(){
				$('.pro ul li').eq($(this).index()).addClass('subnav-active').siblings().removeClass('subnav-active');
			})
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
