<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>品牌介绍</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/home/img-01.jpg">
		</div>
		
		<div class="container o-padding gift">
			
			<h1>品牌简介</h1>
			<div class="pinpai">
				<span><img src="../images/gift/img-12.jpg"></span>			
			</div>
			<div class="pinpai-info">
				<p>FontanaArte 的灯具也同样如此，它不只是一种“产品”，还是一种“生活的艺术”，积淀着历史和文化。</p>
				<p>GioPonti 先生在1932年创建了 FontanaArte 做为 LuigiFontana公 司艺术设计的一部分。在历史上，这家公司一直是先进的玻璃制造和设计的领袖。1983年，FontanaArte 购买了Candle公司，一个富有创新精神的灯具公司，年轻有才华的设计师们基于新的技术开始发展产品。1992 年 FontanaArte 在 LosAngeles 有了展厅，这是继意大利米兰、罗马等四个展厅之后的又一新的展示空间。</p>
				<p>FontanaArte 所有的灯具在功能性与安全性上都有卓越表现,在设计风格上，简约时尚，以擅长的玻璃工艺结合现代感强的不锈钢，为居室空间带来灵动的光影。</p>
			</div>
			<div class="s-gift">
				<h2>WINE 酒器三件组</h2>
				<p>软木塞开瓶器、酒瓶塞、注酒器</p>
			</div>
			<div class="g-img">
				<span>
					<img src="../images/gift/img-13.jpg">
				</span>
			</div>
			<div class="t-gift">
				<p>创意灵感与真实技术的结合─这款先进工艺之作，能让爱酒人士彰显其对于富足生活的热爱。</p>
				<p>从这款完美兼具经典与时尚的软木塞开瓶器、到可于倾倒时帮助醒酒（让葡萄酒的风味更丰富地展现出来）的注酒器，瑞典建筑大师 Thomas Sandell 悉心研究、思考了酿酒学的所有层面，进而创作出这款极具永恒美感价值的系列。 Thomas Sandell 在此系列作品之中投入了与鉴赏家同等级的关注与要求，使得此系列作品成为壮丽辉煌的葡萄酒世界的最佳礼赞。</p>
			</div>
			<div class="g-img">
				<span>
					<img src="../images/gift/img-14.jpg">
				</span>
			</div>
			<div class="insp-info g-info">
				<span>
					<h2>Designer</h2>
					<h1>THOMAS SANDELL</h1>
					<p>托马斯•桑德尔 (Thomas Sandell) 生于1959年，于1985年从「皇家技术学院」获得建筑暨工程硕士学位。他在1995年与Ulf Sandberg及Joakim Uebel共同成立sandellsandberg公司，旨在统合建筑、设计与广告于一身。托马斯•桑德尔目前正进行未来家居设计: Gåshaga Brygga 斯德哥尔摩。</p>
					<p>桑德尔设计过数个备受赞誉的室内设计案，包括斯德哥尔摩现代艺术馆、瑞典建筑博物馆以及数间广告公司。他也是家具设计师，曾和数家瑞典及国际家具制造商合作，包括Artek、Asplund、B&B Italia、Cappellini、CBI、Gärsnäs、IKEA of Sweden、Källemo、Mobileffe、R.O.O.M.、Rydéns、Tibrokök、Tronconi, ZERO等。托马斯•桑德尔也是瑞典建筑物协会(SAR)理事长，荣获过无数知名设计大奖。</p>
				</span>
			</div>
			<div class="g-img">
				<span>
					<img src="../images/gift/img-15.jpg">
				</span>
			</div>
			
			<div class="cp-box">
				<ul>
					<li><img src="../images/gift/cp-01.jpg"></li>
					<li><img src="../images/gift/cp-02.jpg"></li>
					<li><img src="../images/gift/cp-03.jpg"></li>
					<li><img src="../images/gift/cp-04.jpg"></li>
					<li><img src="../images/gift/cp-05.jpg"></li>
					<li><img src="../images/gift/cp-06.jpg"></li>
				</ul>
			</div>
			
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>

	<script>
		
		$(document).ready(function() {
			$('.pinpai span').css({
				marginTop:($('.pinpai').height()-$('.pinpai img').height())/2+'px'
			});
			var cpli=$('.cp-box ul li');
			for(var i=0;i<cpli.length-2;i++){
				$(cpli[i]).addClass('borderBottom');	
			}
			for(var i=0;i<cpli.length;i++){
				if(i%2==0){
					$(cpli[i]).addClass('borderRight');
				}
			}
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
