<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>礼品服务</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/lamaisonmaode.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png"></a>
			</div>
			<div class="header-box">
				<div class="search">
					<span><img src="../images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="../images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>
		
		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="../images/close.png"></span>
			<span><img src="../images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="../life/brand.html">生活精品</a></li>
					<li><a href="../inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="../home/inspiration.html">家居形象</a></li>
					<li><a href="../lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="../project/project.html">项目介绍</a></li>
					<li><a href="../gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		
		<div class="s-img">
			<img src="../images/about/img-01.jpg">
		</div>

		<!--nav-->
		<div class="subnav" id="wrapper">
	        <ul>
	        	<li class="tz">
					<a href="javascript:;">套装： </a>
				</li>
				<li class="subnav-active">
					<a href="javascript:;">家居套装</a>
				</li>
				<li>
					<a href="javascript:;">节日套装 </a>
				</li>
				<li>
					<a href="javascript:;">企业套装</a>
				</li>
			</ul>
		</div>
		
		<div class="container o-padding">
			
			<div class="gift-box">
				<ul>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-02.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">125</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-04.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">105</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-05.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-06.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-07.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-08.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-09.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-10.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
					<li>
						<span><a href="brandintroduction.html"><img src="../images/gift/img-11.jpg"></a></span>
						<div class="gift-pinpai">
							<div class="g-ppimg"><span><img src="../images/gift/img-03.jpg"></span></div>
							<div class="g-ppimgname">
								<span>AVIVA</span>
								<span><b>by</b>Jarrod Lim</span>
							</div>
							<div class="g-like">
								<span class="like-num">1205</span>
								<span class="like-img"><img src="../images/like.png"></span>
							</div>
						</div>
					</li>
				</ul>
				
				<!--按钮-->
				<div class="change-btn">
					<div class="c-lists">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
					<span class="b-prev"><img src="../images/perv-btn.png"></span>
					<span class="b-next"><img src="../images/next-btn.png"></span>
				</div>
				
			</div>
			
		</div>
		
		<!--底部-->
		<div class="footer">
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" data-cmd="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>
			</div>
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="../about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="../about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="../about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/iscroll.js" ></script>

	<script>
		
		$(document).ready(function() {
			var aLi = $('.subnav ul li');
			var oUlWidth = aLi.length * 7;
			$('.subnav ul').css({
				width: oUlWidth + 'rem'
			});
			var myscroll=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});

			for(var i=1; i<aLi.length;i++){
				$(aLi[i]).on('click',function(){
					$('.subnav ul li').eq($(this).index()).addClass('subnav-active').siblings().removeClass('subnav-active');
				})
				
			}
			
		});
		$(window).load(function() {
			$('.g-ppimg span').css({
				marginTop:($('.g-ppimg').height()-$('.g-ppimg span img').height())/2+'px'
			});
		})
	</script>
	<script>
		window._bd_share_config = {
			//此处添加分享具体设置
			common: {
				bdText: '自定义分享内容',
				bdDesc: '自定义分享摘要',
				bdUrl: '自定义分享url地址',
				bdPic: '自定义分享图片'
			},
			share: [{
				"bdSize": 16
			}]
		}
		//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
</html>
