<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta name="viewport" content="width=640, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title>vivo x9</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		
		<!--music-->
		<audio src="music/vivox9h5.mp3"  id="music" loop="loop"></audio>
		
		<!--loading-->
		<div class="loading" id="loader">
			<div class="progress_box">
				<img src="images/loding_3.gif" />
			</div>
			
		</div>
		<!--开始页面-->
		<div class="box">
			<div class="section-1" id="section_1">	
				<div class="light">
					<span></span>
					<span></span>
				</div>
				<div class="imgAnimate">
					<!--<img src="images/1.jpg" style="z-index: 31;" />
					<img src="images/2.jpg" style="z-index: 30;" />
					<img src="images/3.jpg" style="z-index: 29;" />
					<img src="images/4.jpg" style="z-index: 28;" />
					<img src="images/5.jpg" style="z-index: 27;" />
					<img src="images/6.jpg" style="z-index: 26;" />
					<img src="images/7.jpg" style="z-index: 25;" />
					<img src="images/8.jpg" style="z-index: 24;" />
					<img src="images/9.jpg" style="z-index: 23;" />
					<img src="images/10.jpg" style="z-index: 22;" />
					<img src="images/11.jpg" style="z-index: 21;" />
					<img src="images/12.jpg" style="z-index: 20;" />
					<img src="images/13.jpg" style="z-index: 19;" />
					<img src="images/14.jpg" style="z-index: 18;" />
					<img src="images/15.jpg" style="z-index: 17;" />
					<img src="images/16.jpg" style="z-index: 16;" />
					<img src="images/17.jpg" style="z-index: 15;" />
					<img src="images/18.jpg" style="z-index: 14;" />
					<img src="images/19.jpg" style="z-index: 13;" />
					<img src="images/20.jpg" style="z-index: 12;" />
					<img src="images/21.jpg" style="z-index: 11;" />
					<img src="images/22.jpg" style="z-index: 10;" />
					<img src="images/23.jpg" style="z-index: 9;" />
					<img src="images/24.jpg" style="z-index: 8;" />
					<img src="images/25.jpg" style="z-index: 7;" />
					<img src="images/26.jpg" style="z-index: 6;" />
					<img src="images/27.jpg" style="z-index: 5;" />
					<img src="images/28.jpg" style="z-index: 4;" />
					<img src="images/29.jpg" style="z-index: 3;" />
					<img src="images/30.jpg" style="z-index: 2;" />
					<img src="images/31.jpg" style="z-index: 1;" />-->
					
					<canvas id="loadMain"></canvas>
					
				</div>
			</div>
		</div>

		<!--提示用户上下滑-->
		<div class="hint-user">
			<img src="images/hint-scale.png">
		</div>
		
		<!--显示文字-->
		<div class="show-txt">
			<img src="images/wasai.png">
		</div>
		
		<!--场景-->
		<div id="container"></div>

		<!--按钮-->
		<div class="show-box">
			<div class="btn">
				<span><img src="images/2000w.png"></span>
				<span class="btn_xuhua"><img src="images/800w.png"></span>
				<span><img src="images/biaoyu.png"></span>
			</div>
			<div class="btn2">
				<span><img src="images/play.png"></span>
				<span><a href=""><img src="images/yuyue.png"></a></span>
			</div>
			<div class="btn3">
				<span><img src="images/queding.png"></span>
			</div>
		</div>

	</body>

	<script src="js/three.min.js"></script>
	<script src="js/stats.min.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/pxloader-all.js"></script>
	<script src="js/data.js"></script>
	<script type="text/javascript" src="js/easeljs-0.8.2.min.js" ></script>
	<script src="js/index.js"></script>
	
</html>