html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
ul,
li blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "microsoft yahei", "苹方", "helvetica";
	border: 0;
	outline: 0;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

p {
	font-size: 24px;
	line-height: 36px;
	max-height: 100%;
	color: #333;
}

a {
	color: #000;
	text-decoration: none;
	display: block;
}

img {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
}

.loading-box{
	width: 100%;
	height: 100%;
	background: #F8F1DF;
	position: relative;
}
.loading-box span{
	display: block;
	position: absolute;
	top: 50%;
	transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
}
.loading-mail{
	width: 130px;
	height: 106px;
	left: 20px;
	animation: loading 1s ease-in infinite forwards;
	-webkit-animation: loading 1s ease-in infinite forwards;
	z-index: 999;
}
.loading-phone{
	width: 135px;
	height: 369px;
	right: 50px;
	z-index: 998;
	
}
.loading-box .nows_time{
    font-size: 30px;
    color: #a07668;
    position: absolute !important;
    width: auto;
    right: 13% !important;
    top: 41.8% !important;
    z-index: 5000;
    -webkit-transform: skewY(-8deg) translate3d(0,0,20px) !important;
    -moz-transform:  skewY(-8deg) translate3d(0,0,20px);
    -ms-transform:  skewY(-8deg) translate3d(0,0,20px);
    -o-transform:  skewY(-8deg) translate3d(0,0,20px);
    transform:  skewY(-8deg) translate3d(0,0,20px);
}
.loading-phone2{
	width:70px;
	height: 369px;
	right: 50px;
	z-index: 1000;
	overflow: hidden;
	position: relative;
}
.loading-phone2 img{
	width: 135px;
	height: 369px;;
	position: absolute;
	top: 0;
	right: 0;
}
@keyframes loading{
	0%{opacity: 0;transform: translate3d(0,0,0) rotate(0);}
	20%{opacity: 1;}
	100%{opacity: 1;transform: translate3d(500px,0,0) rotate(360deg);}
}
@-webkit-keyframes loading{
	0%{opacity: 0;-webkit-transform: translate3d(0,0,0) rotate(0);}
	20%{opacity: 1;}
	100%{opacity: 1;-webkit-transform: translate3d(500px,0,0) rotate(360deg);}
}








.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background: #FFFFFF;
	overflow: hidden;
}

.loader-txt {
	width: 456px;
	height: 212px;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: url(../images/loader-bg.png) no-repeat;
	z-index: 999;
}

.t {
	width: 95px;
	height: 105px;
	line-height: 108px;
	text-align: center;
	position: absolute;
	bottom: 60px;
	overflow: hidden;
}

.t ul {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.t .active {
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.t ul li {
	display: block;
	width: 95px;
	height: 105px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 92px;
	line-height: 108px;
	text-align: center;
}

.t1 {
	left: 60px;
}

.t2 {
	left: 180px;
}

.t3 {
	left: 302px;
}

.t1 ul {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.t2 ul {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.t3 ul {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.show-win {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	z-index: 99;
}

.yellow-bg {
	background: #f0c356;
}

.light-box {
	width: 1330px;
	height: 1330px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.rotate-light {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: lightRotate 10s linear infinite;
	-webkit-animation: lightRotate 10s linear infinite;
}

.rotate-light span {
	width: 665px;
	height: 665px;
	display: block;
	position: absolute;
	background: url(../images/img-4.png) no-repeat;
}

.rotate-light span:nth-of-type(2) {
	transform: rotate(90deg);
	left: 665px;
}

.rotate-light span:nth-of-type(3) {
	transform: rotate(180deg);
	top: 665px;
	left: 665px;
}

.rotate-light span:nth-of-type(4) {
	transform: rotate(270deg);
	top: 665px;
}

@keyframes lightRotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lightRotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.phone {
	width: 372px;
	height: 755px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../images/img-0.png) no-repeat;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 9;
	display: block;
}

.show-info {
	width: 362px;
	height: 616px;
	background: url(../images/img-1_1.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 69px;
	left: 5px;
}
.s-container{
	width: 96%;
	height: auto;
	background: #FFFFFF;
	margin: 86px auto 0 auto;
    padding: 50px 0 0 0;
    position: relative;
}
.s-box {
	width: 324px;
	height: 310px;
	border-radius: 10px;
	background: #e5e5ea;
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	padding: 10px 15px;
	position: absolute;
	left: 11px;
}
.s-box p{
	color: #0000cc;
	text-decoration: underline;
	font-size: 20px;
}
.s-box:before {
	content: '';
	width: 26px;
	height: 17px;
	background: url(../images/img-2.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: -7px;
}

.show-info h1 {
	font-size: 32px;
	font-weight: bolder;
}

.show-info h2 {
	margin: 5px 0 0 0;
	font-size: 24px;
	font-weight: bolder;
}

.show-info h3 {
	font-size: 16px;
	font-weight: bolder;
	margin: 15px 0 0 0;
}

.click-btn {
	width: 260px;
	height: 82px;
	border-radius: 10px;
	background: #e5e5ea;
	display: block;
	margin: 30px auto 0 auto;
	font-size: 53px;
	font-weight: bolder;
	text-align: center;
	line-height: 82px;
	animation: color 2s step-start infinite;
	-webkit-animation: color 2s step-start infinite;
	position: absolute;
    bottom: 60px;
    left: 46px;
}

.user-hand {
	width: 115px;
	height: 128px;
	display: block;
	position: absolute;
	top: 500px;
	left: 240px;
	animation: userHand 2s linear infinite;
	-webkit-animation: userHand 2s linear infinite;
}

@keyframes color {
	0% {
		background: #E5E5EA;
	}
	50% {
		background: #d0d0d0;
	}
	100% {
		background: #E5E5EA;
	}
}

@-webkit-keyframes color {
	0% {
		background: #E5E5EA;
	}
	50% {
		background: #d0d0d0;
	}
	100% {
		background: #E5E5EA;
	}
}

@keyframes userHand {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		transform: translate(100px, 100px);
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes userHand {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		-webkit-transform: translate(100px, 100px);
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}

.cur-time{
	display: block;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
	text-align: right;
    box-sizing: border-box;
    padding: 0 20px 0 0;

}
.cur-time2{
    width: 100%;
    position: absolute;
    top: -165%;
    left: 255px;
    font-size: 12px;
    font-weight: bold;
}
.cur-date{
	display: block;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
	text-align: center;
    box-sizing: border-box;
}

.phone-virus {
	width: 100%;
	height: 616px;
	margin: 70px 0 0 0;
	display: none;
}

.phone-virus img {
	display: block;
	width: 283px;
	height: 346px;
	margin: 0 auto 0 auto;
	padding: 86px 0 0 0;
	opacity: 0;
}
.phone-virus.active img{
	animation: virusShow 0.5s ease-in forwards;
	-webkit-animation: virusShow 0.5s ease-in forwards;
}
@keyframes virusShow{
	0%{opacity: 0; transform: translate3d(0,150px,0) scale3d(0.8,0.8,0.8);} 
	100%{opacity: 1; transform: translate3d(0,0,0) scale3d(1,1,1);}
}
@-webkit-keyframes virusShow{
	0%{opacity: 0; -webkit-transform: translate3d(0,150px,0) scale3d(0.8,0.8,0.8);} 
	100%{opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);}
}


.phone-virus span {
	width: 260px;
	height: 102px;
	border-radius: 10px;
	background: #fff;
	display: block;
	margin: 25px auto 0 auto;
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	padding: 10px 0 0 0;
	opacity: 0;
	
}
.phone-virus.active span{
	animation: virusShow 0.5s 0.3s ease-in forwards;
	-webkit-animation: virusShow 0.5s 0.3s ease-in forwards;
}
.cockhorse{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	display: none;
}
.cockhorse span{
	display: block;
	width: 186px;
	height: 276px;
	position: absolute;
	left: 20px;
	bottom: 50px;
	
}

.cockhorse.active span{
	animation: cockhorseRunning 1.25s linear forwards;
	-webkit-animation: cockhorseRunning 1.25s linear forwards;
}
@keyframes cockhorseRunning{
	0%{transform: translate3d(0,0,0);}
	90%{transform: translate3d(200px,-400px,0) scale3d(0.2,0.2,0.2); opacity: 1;}
	100%{transform: translate3d(200px,-400px,0) scale3d(0.2,0.2,0.2); opacity: 0;}
}
@-webkit-keyframes cockhorseRunning{
	0%{-webkit-transform: translate3d(0,0,0);}
	90%{-webkit-transform: translate3d(200px,-400px,0) scale3d(0.2,0.2,0.2); opacity: 1;}
	100%{-webkit-transform: translate3d(200px,-400px,0) scale3d(0.2,0.2,0.2); opacity: 0;}
}

.show-virus {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0);
	transition: 3.5s ease;
	-webkit-transition: 3.5s ease;
	display: none;
}

.on {
	background: rgba(0, 0, 0, 1);
}

.show-virus span {
	display: block;
	position: absolute;
}

.show-virus span img {
	width: 100%;
}

.black-bg {
	width: 10px;
	height: 10px;
	background: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.show-virus .active {
	width: 100%;
	height: 100%;
	border-radius: 0%;
}

.user-help {
	width: 100%;
	height: 100%;
	background: url(../images/sosbg.jpg) no-repeat;
	animation: bgAnimation 0.5s steps(1,end) infinite;
	-webkit-animation: bgAnimation 0.5s steps(1,end) infinite;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 10;
}

@keyframes bgAnimation {
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: -640px 0;
	}
	100%{
		background-position: -1280px 0;
	}
}

@-webkit-keyframes bgAnimation {
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: -640px 0;
	}
	100%{
		background-position: -1280px 0;
	}
}

.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.page img {
	margin: auto;
}

.section1 h1 {
	padding: 40px 0 20px 0;
	opacity: 0;
}

.section1 h2 {
	opacity: 0;
}

.section2 {
	display: none;
}

.section1.active h1 {
	animation: fadeDown 1s ease-in-out forwards;
	-webkit-animation: fadeDown 1s ease-in-out forwards;
}

.section1.active h2 {
	animation: fadeDown 1s 0.5s ease-in-out forwards;
	-webkit-animation: fadeDown 1s 0.5s ease-in-out forwards;
}

@keyframes fadeDown {
	0% {
		transform: translate3d(0px, -100px, 0px);
		opacity: 0;
	}
	50% {
		transform: translate3d(0px, 50px, 0px);
	}
	75% {
		transform: translate3d(0px, -10px, 0px);
	}
	100% {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@-webkit-keyframes fadeDown {
	0% {
		-webkit-transform: translate3d(0px, -100px, 0px);
		opacity: 0;
	}
	50% {
		-webkit-transform: translate3d(0px, 50px, 0px);
	}
	75% {
		-webkit-transform: translate3d(0px, -10px, 0px);
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

.section2 h3 {
	opacity: 0;
	padding: 50px 0 0 0;
}

.section2 span {
	display: block;
	width: 214px;
	height: 97px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin: 0 0 0 -107px;
	opacity: 0;
	box-shadow: 0 0 15px 10px #fff;
	border-radius: 14px;
}

.section2.active h3 {
	animation: scale 1s ease-in-out forwards;
	-webkit-animation: scale 1s ease-in-out forwards;
}

.section2.active span {
	animation: fadeUp 0.5s 1s ease-in-out forwards;
	-webkit-animation: fadeUp 0.5s 1s ease-in-out forwards;
}

@keyframes scale {
	0% {
		transform: scale3d(0, 0, 0);
		opacity: 0;
	}
	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}
	75% {
		transform: scale3d(0.8, 0.8, 0.8);
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale3d(0, 0, 0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scale3d(1.2, 1.2, 1.2);
	}
	75% {
		-webkit-transform: scale3d(0.8, 0.8, 0.8);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@keyframes fadeUp {
	0% {
		transform: translate3d(0px, 100px, 0px);
		opacity: 0;
	}
	100% {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@-webkit-keyframes fadeUp {
	0% {
		-webkit-transform: translate3d(0px, 100px, 0px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

.section2.after span {
	opacity: 1;
	animation: scale2 2.2s linear infinite;
	-webkit-animation: scale2 2.2s linear infinite;
}

@keyframes scale2 {
    0% {
        transform: scale3d(1, 1, 1);
    }
    25% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    50% {
       transform: scale3d(1, 1, 1);
    }
    75% {
       transform: scale3d(0.7, 0.7, 0.7);
    }
    100% {
       transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes scale2 {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
	}
	25% {
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
	}
	50% {
		-webkit-transform: scale3d(1, 1, 1);
	}
	75% {
		-webkit-transform: scale3d(0.7, 0.7, 0.7);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
	}
}

.sudoku {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/1.jpg) no-repeat;
	display: none;
	z-index: 999;
}

.sudoku-box {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	/*transition: all 0.5s;
	-webkit-transition: all 0.5s;*/
}

.sudoku.active {
	background: #FFFFFF;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.sudoku-box.active {
	background: #FFFFFF;
}

.sudoku.active .game {
	box-shadow: 0 0 200px #FFFFFF;
}

.game,
.box {
	width: 438px;
	height: 438px;
	display: inline-block;
	position: absolute;
	top: 180px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transition: all 0.35s;
	-webkit-transition: all 0.35s;
}

.game {
	z-index: 99;
}

.box {
	z-index: 90;
}

.game div,
.box div {
	position: absolute;
	width: 146px;
	height: 146px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.game div img,
.box div img {
	width: 100%;
	height: 100%;
}

.game-bg {
	width: 422px;
	height: 422px;
	display: inline-block;
	background: #000000;
	position: absolute;
	top: 188px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	z-index: 80;
	transition: all 0.35s;
	-webkit-transition: all 0.35s;
}

.d1 {
	left: 0px;
}

.d2 {
	left: 146px;
}

.d3 {
	left: 292px;
}

.d4 {
	top: 146px;
}

.d5 {
	left: 146px;
	top: 146px;
}

.d6 {
	top: 146px;
	left: 292px;
}

.d7 {
	top: 292px;
	left: 0px;
}

.d8 {
	left: 146px;
	top: 292px;
}

.d9 {
	left: 292px;
	top: 292px;
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
}

.target {
	left: 147px;
	top: 582px;
}

.g-container {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	transition: all 0.35s;
	-webkit-transition: all 0.35s;
}

.sudoku-info p {
	width: 100%;
	font-size: 36px;
	font-weight: bolder;
	color: #FFFFFF;
	margin: 30px 0 0 0;
	position: absolute;
	top: 640px;
	left: 0%;
	text-align: center;
}

.g-btn {
	width: 440px;
	height: 100px;
	margin: 40px auto 0 auto;
	display: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

.g-btn span {
	display: block;
	width: 205px;
	height: 97px;
	box-sizing: border-box;
	float: left;
	font-size: 53px;
	font-weight: bolder;
	text-align: center;
	line-height: 97px;
	border: 3px solid #000000;
	border-radius: 15px;
}

.g-btn span:nth-of-type(1) {
	margin: 0 30px 0 0;
	background: #7efaff url(../images/img-15.png) center center no-repeat;
}

.g-btn span:nth-of-type(2) {
	background: #ff771f url(../images/img-15.png) center center no-repeat;
}

.frame {
	width: 169px;
	height: 169px;
	position: absolute;
	top: 750px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	background: url(../images/img-14.png) no-repeat;
	display: none;
}

.g-help {
	width: 100%;
	height: auto;
	position: absolute;
	margin: 40px 0 0 0;
}

.g-help p {
	font-weight: bolder;
	color: #FFFFFF;
	width: 440px;
	margin: auto;
	box-sizing: border-box;
	line-height: 48px;
}

.g-h1 p {
	height: 113px;
	font-size: 34px;
	background: url(../images/img-16.gif) no-repeat 325px -8px;
	position: relative;
	padding: 5px 0 0 20px;
}

.g-h1 p:before {
	content: '';
	width: 52px;
	height: 31px;
	background: url(../images/img-18.png) no-repeat;
	position: absolute;
	top: 50%;
	left: -50px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.g-h1 p:after {
	content: '';
	width: 52px;
	height: 31px;
	background: url(../images/img-18.png) no-repeat;
	position: absolute;
	top: 50%;
	right: -50px;
	transform: translate(0, -50%) rotate(180deg);
	-webkit-transform: translate(0, -50%) rotate(180deg);
}

.g-h1 {
	display: none;
}

.g-h2 {
	display: none;
}

.g-h3 {
	display: none;
}

.g-h2 p {
	height: 131px;
	font-size: 32px;
	line-height: 131px;
	background: url(../images/img-17.png) no-repeat;
	padding: 0 0 0 140px;
}

.g-h3 p {
	height: 131px;
	font-size: 42px;
	line-height: 131px;
	background: url(../images/img-25.png) no-repeat center left;
	text-indent: 200px;
}

.video-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	background: url(../images/videobg.jpg) no-repeat;
}

.mycanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	display: none;
}

.myvideo {
	width: 1px;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	background: #FFFFFF;
}

.show-chip {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/2.jpg) no-repeat;
	display: none;
	z-index: 1000;
}

.chip-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.chip-box h1,
.chip-box h2,
.chip-box p {
	text-align: center;
	color: #FFFFFF;
	font-weight: bolder;
}

.chip-box h1 {
	padding: 50px 0 0 0;
}

.chip-box h1 img {
	margin: auto;
}

.chip-box h2 {
	font-size: 49px;
	padding: 50px 0 10px 0;
}

.chip-box p {
	font-size: 21px;
	line-height: 40px;
}

.user-hint {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.user-hint span {
	display: block;
	position: absolute;
}

.user-hint span:nth-of-type(1) {
	width: 39px;
	height: 230px;
	right: 100px;
	bottom: 260px;
}

.user-hint span:nth-of-type(2) {
	width: 105px;
	height: 119px;
	right: 0px;
	bottom: 320px;
	animation: userhint 3s linear infinite;
	-webkit-animation: userhint 3s linear infinite;
}

@keyframes userhint {
	0% {
		transform: translate3d(0, -50px, 0);
	}
	50% {
		transform: translate3d(0, 160px, 0);
	}
	100% {
		transform: translate3d(0, -50px, 0);
	}
}

@-webkit-keyframes userhint {
	0% {
		-webkit-transform: translate3d(0, -50px, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 160px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -50px, 0);
	}
}

.user-interaction {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 1000;
	/*background: #f8f1df;*/
}

.user-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*background: url(../images/img-33.jpg) no-repeat;*/
	background-position: -28px -151px;
	background-size: 109%;
}

.user-box .user-txt {
	display: block;
	width: 577px;
	height: 209px;
	position: absolute;
	top: 97px;
	left: 35px;
	transform: scale3d(0.7, 0.7, 0.7);
	-webkit-transform: scale3d(0.7, 0.7, 0.7);
	display: none;
}

.user-interaction .one {
	width: 200px;
	height: 220px;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 415px;
	left: 40px;
}

.arrows {
	width: 85px;
	height: 86px;
	display: block;
	position: absolute;
	top: 400px;
	left: 160px;
	animation: arrow 2s linear infinite;
	-webkit-animation: arrow 2s linear infinite;
}

@keyframes arrow {
	0% {
		transform: translate3d(100px, -100px, 0px);
	}
	50% {
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		transform: translate3d(100px, -100px, 0px);
	}
}

@-webkit-keyframes arrow {
	0% {
		-webkit-transform: translate3d(100px, -100px, 0px);
	}
	50% {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	100% {
		-webkit-transform: translate3d(100px, -100px, 0px);
	}
}

.end-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #f8f1df;
	z-index: 9990;
	display: none;
}

.end-box {
	width: 454px;
	height: 866px;
	position: absolute;
	top: 50px;
	left: 104px;
	background: url(../images/img-30.jpg) no-repeat;
	z-index: 1000;
}

.end-video {
	width: 360px;
	height: 204px;
	margin: 150px 0 0 38px;
	overflow: hidden;
	position: relative;
}

.endVideo-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	background: url(../images/img-43.jpg) no-repeat;
}

.endVideo-bg img {
	width: 100%;
}

.end-ul {
	width: 380px;
	height: 280px;
	margin: auto;
	padding: 80px 0 0 0;
}
.end-txt{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/img-43.jpg) no-repeat;
	display: none;
}
.endVideo-txt {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
}
.end-txt.active .endVideo-txt{
	animation: opacity 0.3s linear forwards;
	-webkit-animation: opacity 0.3s linear forwards;
}

.endVideo-txt span {
	display: block;
	position: absolute;
	opacity: 0;
}

.endVideo-txt span img {
	margin: auto;
}

.page1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.page2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.page1 span {
	width: 220px;
	height: 70px;
	left: 50%;
	margin: 0 0 0 -100px;
}
.page1 span img{
	width: 100%;
}
.endVideo-txt .page1 span:nth-of-type(1) {
	top: 10px;
}

.endVideo-txt .page1 span:nth-of-type(2) {
	top: 80px;
}

.endVideo-txt .page1 span:nth-of-type(3) {
	top: 140px;
}

.endVideo-txt .page1.active span:nth-of-type(1) {
	animation: txtUp 0.35s ease-out forwards;
	-webkit-animation: txtUp 0.35s ease-out forwards;
}

.endVideo-txt .page1.active span:nth-of-type(2) {
	animation: txtUp 0.35s 0.2s ease-out forwards;
	-webkit-animation: txtUp 0.35s 0.2s ease-out forwards;
}

.endVideo-txt .page1.active span:nth-of-type(3) {
	animation: txtUp 0.35s 0.4s ease-out forwards;
	-webkit-animation: txtUp 0.35s 0.4s ease-out forwards;
}

.endVideo-txt .page2 span:nth-of-type(1) {
	width: 260px;
	top: 16px;
    left: 50px;
}
.endVideo-txt .page2 span:nth-of-type(1) img{
	width: 100%;
}
.endVideo-txt .page2 span:nth-of-type(2) {}

.endVideo-txt .page2.active span:nth-of-type(1) {
	animation: txt2 0.35s ease-out forwards;
	-webkit-animation: txt2 0.35s ease-out forwards;
}

.endVideo-txt .page2.active span:nth-of-type(2) {
	animation: opacity 0.35s 0.2s ease-out forwards;
	-webkit-animation: opacity 0.35s 0.2s ease-out forwards;
}

.end-ul ul li {
	display: block;
	float: left;
	width: 139px;
	height: 97px;
	margin: 0 22px 30px 20px;
	background: url(../images/img-29.png) no-repeat;
}

.end-ul ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

.end-ul ul li p {
	color: #000;
	font-weight: bolder;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	padding: 22px 0 0 0;
}

@keyframes txtUp {
	0% {
		transform: translate3d(0, 150px, 0);
	}
	100% {
		transform: translate3d(0, 0px, 0);
		opacity: 1;
	}
}

@-webkit-keyframes txtUp {
	0% {
		-webkit-transform: translate3d(0, 150px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0px, 0);
		opacity: 1;
	}
}

@keyframes txt2 {
	0% {
		transform: scale3d(0.1, 0.1, 0.1);
	}
	50% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes txt2 {
	0% {
		-webkit-transform: scale3d(0.1, 0.1, 0.1);
	}
	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.endVideo-btn{
	display: block;
	width: 74px;
	height: 74px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 555;
}
.share-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: none;
}

.share-container p {
	width: 90%;
	font-size: 30px;
	color: #FFFFFF;
	position: absolute;
	top: 130px;
	left: 0%;
	text-align: right;
}

.share-container .arrow {
	width: 82px;
	height: 63px;
	transform: rotate(-45deg) scale(0.7);
	-webkit-transform: rotate(-45deg) scale(0.7);
	position: fixed;
	top: 20px;
	right: 60px;
	animation: shareArrow 2s linear infinite;
	-webkit-animation: shareArrow 2s linear infinite;
}

@keyframes shareArrow {
	0% {
		transform: rotate(-45deg) scale(0.7) translate(0, 0);
		opacity: 1;
	}
	25% {
		transform: rotate(-45deg) scale(0.7) translate(-50px, -25px);
	}
	50% {
		transform: rotate(-45deg) scale(0.7) translate(-100px, -50px);
		opacity: 0;
	}
	75% {
		transform: rotate(-45deg) scale(0.7) translate(-50px, -25px);
	}
	100% {
		transform: rotate(-45deg) scale(0.7) translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes shareArrow {
	0% {
		-webkit-transform: rotate(-45deg) scale(0.7) translate(0, 0);
		opacity: 1;
	}
	25% {
		-webkit-transform: rotate(-45deg) scale(0.7) translate(-50px, -25px);
	}
	50% {
		-webkit-transform: rotate(-45deg) scale(0.7) translate(-100px, -50px);
		opacity: 0;
	}
	75% {
		-webkit-transform: rotate(-45deg) scale(0.7) translate(-50px, -25px);
	}
	100% {
		-webkit-transform: rotate(-45deg) scale(0.7) translate(0, 0);
		opacity: 1;
	}
}

.eVideo {
	animation: eV 0.3s linear forwards;
	-webkit-animation: eV 0.3s linear forwards;
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

@keyframes eV {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes eV {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.music-icon {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 9999;
	animation: rorate 4s linear infinite;
	-webkit-animation: rorate 4s linear infinite;
	animation-play-state: running;
	-webkit-animation-play-state: running;
}

@keyframes rorate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rorate {
	from {
		-webkit-transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
.endVideo-box{
	display: none;
	width: 360px;
	height: 204px;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 500;
}
.endcanvas {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	z-index: 2000;
	display: none;
}

.endvideo {
	width: 360px;
	height: 204px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	z-index: 999;
	display: block;
	background: #FFFFFF;
}
.endVideo-box-bg{
	display: none;
	width: 360px;
	height: 245px;
	position: absolute;
	top: 0;
	left: 0;
}



.safety{
	width: 100%;
	height: 100%;
	position: relative;
	background: #F8F1DF;
}
.safety p{
	font-size: 30px;
	color: #333;
	text-align: center;
	padding: 100px 0 0 0;
}
.safety video{
	padding: 100px 0 0 0;
}
