<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title>新闻详情</title>
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/news-details.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="container">
			<!-- 头部 -->
			<div class="header">
			<div class="header-top-bg">
				<div class="header-top">
					<div class="change">
						<a href="javascript:;">English</a>/
						<a href="javascript:;">中文</a>
					</div>
					<div class="other">
						<ul>
							<li class="luntan"><span><img src="../images/img-info.png"></span><a href="javascript:;">进入论坛</a></li>
							<li class="search ">
								<form class="">
									<div class="search-bg">
										<span class="search-topimg"></span>
										<p>搜索</p>
										<input type="text" name="text" id="txt" />
									</div>
								</form>
							</li>
							<li class="login"><span><img src="../images/img-gologin.png"></span><a href="../login/login.html">登录</a>/<a href="../login/register.html">注册</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="header-bottom-bg">
				<div class="header-bottom">
					<div class="logo">
						<a href="../index.html">
							<img src="../images/logo.png" />
						</a>
					</div>
					<div class="navbar">
						<ul>
							<li class=""><a href="../index.html">首页</a></li>
							<li class="nav-li"><a href="javascript:;">关于我们</a></li>
							<li class="nav-li"><a href="javascript:;">产品系列</a></li>
							<li class="nav-li"><a href="javascript:;">服务支持</a></li>
							<li class="nav-li"><a href="javascript:;">方案案例</a></li>
							<li class="nav-li nav-on"><a href="javascript:;">新闻动态</a></li>
						</ul>
					</div>

				</div>
				<!--下拉菜单-->
				<div class="sub-bg">

					<!--关于我们-->
					<div class="sub-nav">
						<div class="sub-lists">
							<ul>
								<li><a href="../about/video.html"><span><img src="../images/nav/jianjie.png"></span>公司简介</a></li>
								<li><a href="../about/about.html"><span><img src="../images/nav/fazhan.png"></span>发展历程</a></li>
								<li><a href="../about/culture.html"><span><img src="../images/nav/wenhua.png"></span>企业文化</a></li>
								<li><a href="../about/jion.html"><span><img src="../images/nav/zhaopin.png"></span>人才招聘</a></li>
								<li><a href="../about/adress.html"><span><img src="../images/nav/lianxi.png"></span>联系我们</a></li>
							</ul>
						</div>
					</div>
					<!--产品系列-->
					<div class="sub-nav">
						<div class="sub-lists">
							<ul>
								<li><a href="../products/touch.html"><span><img src="../images/nav/chumoing.png"></span>触摸屏系列</a></li>
								<li><a href="../products/screen.html"><span><img src="../images/nav/bianpinqi.png"></span>变频器系列</a></li>
							</ul>
						</div>
					</div>
					<!--服务支持-->
					<div class="sub-nav">
						<div class="sub-lists">
							<ul>
								<li><a href="../service/maintain.html"><span><img src="../images/nav/weixiu.png"></span>维修服务</a></li>
								<li><a href="../service/download.html"><span><img src="../images/nav/xiazai.png"></span>下载中心</a></li>
								<li><a href="../service/training.html"><span><img src="../images/nav/peixun.png"></span>培训中心</a></li>
								<li><a href="../service/servicebrand.html"><span><img src="../images/nav/fuwu.png"></span>服务品牌</a></li>
							</ul>
						</div>
					</div>
					<!--方案与案例-->
					<div class="sub-nav">
						<div class="sub-lists">
							<ul>
								<li><a href="../case/solution.html"><span><img src="../images/nav/fangan.png"></span>解决方案</a></li>
								<li><a href="../case/usecase.html"><span><img src="../images/nav/anli.png"></span>应用案例</a></li>
							</ul>
						</div>
					</div>
					<!--新闻中心-->
					<div class="sub-nav">
						<div class="sub-lists">
							<ul>
								<li><a href="../news/news-center.html"><span><img src="../images/nav/xinwen.png"></span>公司新闻</a></li>
								<li><a href="../news/activity-area.html"><span><img src="../images/nav/huodong.png"></span>活动专区</a></li>
								<li><a href="../news/product-dynamic.html"><span><img src="../images/nav/dongtai.png"></span>产品动态</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

			<!-- 内容 -->
			<div class="content">
				
				<div class="content-inner">
					<p class="details-title">'城会玩'用iPad玩工业监控，用HMI玩游戏</p>
					<p class="details-title-sub">2015 / 08 / 09
						<font>浏览：9999</font>
					</p>
					<!--right-->
					<div class="right_share">
						<ul>
							<li class="return" title="返回"><a href="#"><span>返回</span></a></li>
							<li>
								<div class="bdsharebuttonbox" data-tag="share_1">
									<a class="right_share_weixin" data-cmd="weixin"></a>
									<a class="right_share_tsina" data-cmd="tsina"></a>
									<a class="right_share_fbook" data-cmd="fbook"></a>
								</div>
							</li>
						</ul>
					</div>
					<div class="news-details-content">
						<p><img src="../images/de-01.jpg" /></p>
						<p>当大多数人用iPad玩游戏的时候，WEINVIEW拿它来做工业监控、移动巡检，玩的不亦乐乎！<br/> 当大多数人在用HMI触摸屏严肃认真编程的时候，有一些人"不务正业"地在玩游戏。他火了！
							<br/><br/>不久前，在工控论坛上，一位佛山用户fsjnzhouyan的帖子《用威纶通触摸屏制作的贪吃蛇游戏》被顶上热门，回复无数，收获无数仰慕<br/>（——> gongkong版 gkong版）
							<br/>用触摸屏玩贪吃蛇？！ 大神就这么被偶遇 </p>
						<br/>
						<br/>
						<p>奖项申报于2015年6月开始启动，2016年4月截止申报。</p>
						<p>并于2016年5月向社会公示，于2016年6月8日举行颁奖典礼。</p>
						<br/>
						<br/>
						<p>虽然简单，据这位用户讲，目前也只设计完成了1/3进度。不过看着眼馋，期待完工。 </p>
						<p>有个问题是：Q：游戏世界在电脑端和手机端上已经很丰富了，为什么我们还会注意到在HMI触摸屏上玩这么简单的游戏？</p>
						<p>A：因为即便条件有限也有突破。限制对于程序员来说不是问题，不走寻常路，新奇在身边！</p>
						<p>来，回顾一下往年WEINVIEW官方版的游戏吧！想当年，威纶通还玩过哪些游戏？</p>
						<br/>
						<br/>
						<p>最新的电车驱动和驾驶技术更自动化和智能化。车辆通过电制动产生的余热取暖，既节能，又安全可靠。温度变化，可以直观地显示在HMI触摸屏上。</p>
						<p>除此之外，行驶里程、速度、电耗......实时车况及车辆行驶信息准确呈现在司机面前，电车驾驶起来变的省心省力。</p>
					</div>
				</div>
			</div>
			<!-- 底部 -->
			<!--底部-->
		<div class="footer-bg">
			<div class="footer-t">
				<div class="footer-box footer-t-t">
					<div class="footer-nav-dingyue">
						<div class="footer-logo"><img src="../images/logo-footer.png"></div>
						<form>
							<label>订阅电子邮件</label>
							<input type="email" name="email" id="email" />
							<input type="submit" name="btn" id="dingyue" value="订阅" />
						</form>
					</div>
					<div class="footer-nav-ul">
						<ul>
							<li><h1>关于我们</h1></li>
							<li><a href="../about/video.html">公司简介</a></li>
							<li><a href="../about/about.html">发展历程</a></li>
							<li><a href="../about/culture.html">企业文化</a></li>
							<li><a href="../about/jion.html">人才招聘</a></li>
							<li><a href="../about/adress.html">联系我们</a></li>
						</ul>
					</div>
					<div class="footer-nav-ul">
						<ul>
							<li><h1>产品中心</h1></li>
							<li><a href="../products/touch.html">触摸屏系列</a></li>
							<li><a href="../products/screen.html">变频器系列</a></li>
						</ul>
					</div>
					<div class="footer-nav-ul">
						<ul>
							<li><h1>服务支持</h1></li>
							<li><a href="../service/maintain.html">维修服务</a></li>
							<li><a href="../service/download.html">下载中心</a></li>
							<li><a href="../service/learning.html">培训中心</a></li>
							<li><a href="../service/servicebrand.html">服务品牌</a></li>
						</ul>
					</div>
					<div class="footer-nav-ul">
						<ul>
							<li><h1>方案与案列</h1></li>
							<li><a href="../case/solution.html">解决方案</a></li>
							<li><a href="../case/usecase.html">应用案例</a></li>
						</ul>
					</div>
					<div class="footer-nav-ul">
						<ul>
							<li><h1>新闻中心</h1></li>
							<li><a href="../news/news-center.html">公司新闻</a></li>
							<li><a href="../news/activity-area.html">活动专区</a></li>
						</ul>
					</div>
					<div class="footer-nav-contact">
						<div class="footer-nav-tel">
							<p>400-836-2000</p>
						</div>
						<ul>
							<li>
								<p>微博</p>
								<span><img src="../images/erweima.png"></span>
							</li>
							<li style="margin-left: 30px;">
								<p>微信</p>
								<span><img src="../images/erweima.png"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-b">
				<div class="footer-box footer-b-t">
					<div class="footer-share">
						<div class="bdsharebuttonbox" data-tag="share_1">
							<a class="share_one" data-cmd="tsina"></a>
							<a class="share_two" data-cmd="weixin"></a>
							<a class="share_three" data-cmd="qzone"></a>
							<a class="share_four" data-cmd="kaixin001"></a>
							<a class="share_five" data-cmd="tqq"></a>
						</div>
						<script>
							window._bd_share_config = {
								share: [{
									"bdSize": 32
								}],
							}
							with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
						</script>
					</div>
					<div class="footer-copyright">
						<ul>
							<li>Copyright ©威纶通 All Rights Reserved</li>
							<li><a href="../login/legalnotice.html">法律声明</a></li>
							<li>|</li>
							<li><a href="../login/privacy.html">隐私保护</a></li>
							<li>|</li>
							<li><a href="../login/feedback.html">意见反馈</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
			<!-- 底部 end -->

		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../js/base.js"></script>
	<script type="text/javascript" src="../js/style.js"></script>
		<script>
			$(document).ready(function() {
				//导航
				setNav();
				//首页我们的产品tab
				setIndexTab();
				//导航顶部搜索
				setTopsearch();
				
				$(".d").click(function() {
					$(".d").eq($(this).index()).addClass("d_s").siblings().removeClass('d_s');
				});

				
			});
			//滚动页面 头部导航浮动在顶部
			$(window).bind('scroll', function() {
				if ($(window).scrollTop() > 30) {
					$(".header-bottom-bg").addClass('header_fixed');
					$('.header-bottom-bg').css({
						position: 'fixed',
						top: 0,
						left: 0
					});
				} else {
					$(".header-bottom-bg").removeClass('header_fixed');
					$('.header-bottom-bg').css({
						position: 'relative'
					});
					$('.header-bottom-bg').css({
						left: 0
					});
				}
			});
			//更改浮动导航，出现滚动条
			$(window).scroll(function() {
				var original_left = $('.header-bottom').offset().left;
				var new_left = -$(window).scrollLeft() + 'px';
				$('.header_fixed').css({
					left: new_left
				});
			});
		</script>
</html>