<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="format-detection" content="telephone=no" />
		<script>
			// class
			! function(navigator) {
				var userAgent = navigator.userAgent;
				documentElement = document.documentElement;
				if(userAgent.match(/micromessenger\/5/gi)) {
					documentElement.className += " mobile wx_mobile wx_mobile_5";
				} else if(userAgent.match(/micromessenger/gi)) {
					documentElement.className += " mobile wx_mobile";
				} else if(userAgent.match(/ucbrowser/gi)) {
					documentElement.className += " mobile uc_mobile";
				} else if(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent.toLowerCase())) {
					documentElement.className += " mobile";
				} else if(userAgent.toLowerCase().match(/msie/gi) && (parseFloat(userAgent.toLowerCase().match(/msie ([0-9]{1,}[\.0-9]{0,})/i)[1] || 999) < 9)) {
					documentElement.className += " pc pc-ie pc-ie8";
				} else if(userAgent.toLowerCase().match(/msie/gi) || navigator.msPointerEnabled || navigator.pointerEnabled) {
					documentElement.className += " pc pc-ie";
				} else {
					documentElement.className += " pc";
				}
			}(navigator);
			// meta
			! function(userAgent) {
				var screen_w = parseInt(window.screen.width),
					scale = screen_w / 640;
				if(/Android (\d+\.\d+)/.test(userAgent)) {
					var version = parseFloat(RegExp.$1);
					document.write(version > 2.3 ? '<meta name="viewport" content="width=640, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=640 target-densitydpi=device-dpi">');
				} else {
					document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
				}
			}(navigator.userAgent);
		</script>
		<title>平安壹钱包</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="container">
			
			<div class="m-box">
				
				<div class="u-box">
					<div class="u-img">
						<img src="images/chenchen.jpg">
						<span>分享人：陈辰</span>
					</div>
					<div class="u-user">
						<div class="l-name font_height">
							<span>作品：寿险VIP客户专属兑换定制方案</span>
						</div>
						<div class="r-link">
							<a href="shouxianvip.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>用户产品部产品经理</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
				<div class="u-box">
					<div class="u-img">
						<img src="images/wenjianfeng.jpg">
						<span>分享人：温剑锋</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：平安健康尊享卡</span>
						</div>
						<div class="r-link">
							<a href="jiankangzhunxiangka.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>企业产品部产品经理</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
				<div class="u-box">
					<div class="u-img">
						<img src="images/yiqianbao.jpg">
						<span>分享人：胡君、边琪、刘啸</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：壹钱包4.0</span>
						</div>
						<div class="r-link">
							<a href="yiqianbao4.html"></a>
						</div>
					</div>
					<div class="u-info small">
						<span>职位：</span>
						<p>胡君（用户体验部副总经理），边琪（用户产品部产品副总监），刘啸（客户端研发部架构师）</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
				<div class="u-box">
					<div class="u-img small">
						<img src="images/shangcheng.jpg">
						<span>分享人：徐飞，赵晓彤，王晶，郭鹏程，廖一波</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：壹钱包商城</span>
						</div>
						<div class="r-link">
							<a href="shangcheng.html"></a>
						</div>
					</div>
					<div class="u-info small">
						<span>职位：</span>
						<p>徐飞（商圈产品部产品总监 ），赵晓彤（产品高级经理），王晶（产品经理），郭鹏程（产品经理），廖一波（产品经理）</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
				<div class="u-box">
					<div class="u-img">
						<img src="images/wangyue.jpg">
						<span>分享人：王悦</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：定期</span>
						</div>
						<div class="r-link">
							<a href="dingqi.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>金融产品部产品规划高级经理</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
				<div class="u-box">
					<div class="u-img">
						<img src="images/xuqibao.jpg">
						<span>分享人：赵舒婷、郭晋、陈伟</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：平安续期宝</span>
						</div>
						<div class="r-link">
							<a href="xuqibao.html"></a>
						</div>
					</div>
					<div class="u-info small">
						<span>职位：</span>
						<p>郭晋（支万插件业务中心金融平台产品组），赵舒婷（产品规划岗），陈伟（产品规划高级经理）</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>
				
			</div>
			
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/wxfx.js" ></script>
	<script type="text/javascript" src="../js/common.js"></script>

</html>