.fadeIn {
	animation: fadein 0.35s cubic-bezier(0, 0.06, 0.42, 0.99) forwards;
	-webkit-animation: fadein 0.35s cubic-bezier(0, 0.06, 0.42, 0.99) forwards;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeOut {
	animation: fadeout 0.35s ease-in forwards;
	-webkit-animation: fadeout 0.35s ease-in forwards;
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOutLeft {
	animation: fadeoutleft 0.35s ease-out forwards;
	-webkit-animation: fadeoutleft 0.35s ease-out forwards;
}

@keyframes fadeoutleft {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-200px);
	}
}

@-webkit-keyframes fadeoutleft {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(-200px);
	}
}

.scale {
	animation: scale 0.35s ease;
	-webkit-animation: scale 0.35s ease;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.89);
	}
	70% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes scale {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.89);
	}
	70% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.rotationY {
	animation: rotationY 0.35s ease;
	-webkit-animation: rotationY 0.35s ease;
}

@keyframes rotationY {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(7deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes rotationY {
	0% {
		-webkit-transform: rotate(0);
	}
	25% {
		-webkit-transform: rotate(7deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
	}
	75% {
		-webkit-transform: rotate(-7deg);
	}
	100% {
		-webkit-transform: rotate(0);
	}
}

.right {
	animation: toright 0.5s cubic-bezier(0.44, 0.13, 0.34, 1.02) forwards;
	-webkit-animation: toright 0.5s cubic-bezier(0.44, 0.13, 0.34, 1.02) forwards;
}

@keyframes toright {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes toright {
	from {
		-webkit-transform: translateX(-200px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
}

.left {
	animation: toleft 0.5s cubic-bezier(0.44, 0.13, 0.18, 1.26) forwards;
	-webkit-animation: toleft 0.5s cubic-bezier(0.44, 0.13, 0.18, 1.26) forwards;
}

@keyframes toleft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	90% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes toleft {
	0% {
		-webkit-transform: translateX(100px);
		opacity: 0;
	}
	90% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
		opacity: 1;
	}
}

.scene .down {
	animation: todown 0.45s cubic-bezier(0.3, 0.29, 0.21, 1.29) forwards;
	-webkit-animation: todown 0.45s cubic-bezier(0.3, 0.29, 0.21, 1.29) forwards;
}

.scene .opacity {
	opacity: 0;
}

@keyframes todown {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	70% {
		transform: translateY(15px);
	}
	85% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes todown {
	0% {
		-webkit-transform: translateY(-50px);
		opacity: 0;
	}
	70% {
		-webkit-transform: translateY(15px);
	}
	85% {
		-webkit-transform: translateY(-5px);
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

.scene .down2 {
	animation: todown2 0.5s cubic-bezier(0.54, 0.27, 1, 0.45) forwards;
	-webkit-animation: todown2 0.5s cubic-bezier(0.54, 0.27, 1, 0.45) forwards;
}

@keyframes todown2 {
	0% {
		transform: translateY(-300px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	60% {
		transform: translateY(0);
	}
	70% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes todown2 {
	0% {
		transform: translateY(-300px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	60% {
		transform: translateY(0);
	}
	70% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.runBrunsh {
	animation: runbrunsh 0.75s linear forwards;
	-webkit-animation: runbrunsh 0.75s linear forwards;
}

@keyframes runbrunsh {
	0% {
		opacity: 0;
		transform: translate(-100px, -100px);
	}
	10% {
		opacity: 1;
	}
	33.33% {
		opacity: 1;
		transform: translate(100px, 200px);
	}
	66.66% {
		opacity: 1;
		transform: translate(-10px, -100px);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(230px, 180px);
	}
}

@-webkit-keyframes runbrunsh {
	0% {
		opacity: 0;
		-webkit-transform: translate(-100px, -100px);
	}
	10% {
		opacity: 1;
	}
	33.33% {
		opacity: 1;
		-webkit-transform: translate(100px, 200px);
	}
	66.66% {
		opacity: 1;
		-webkit-transform: translate(-10px, -100px);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(230px, 180px);
	}
}

.scaleIn {
	animation: scalebigin 1s cubic-bezier(0.32, -0.04, 0.57, 1.21) forwards;
	-webkit-animation: scalebigin 1s cubic-bezier(0.32, -0.04, 0.57, 1.21) forwards;
}

@keyframes scalebigin {
	0% {
		transform: translate3d(0px, 0px, 0px) scale(1);
		opacity: 0;
	}
	40% {
		transform: translate3d(0px, 0px, 0px) scale(1);
		opacity: 1;
	}
	80% {
		transform: translate3d(-18px, -350px, 0px) scale(0.7);
	}
	90%{
		transform: translate3d(-35px, -190px, 0) scale(0.2);
	}
	95%{
		transform: translate3d(-35px, -200px, 0) scale(0.2);
	}
	100% {
		transform: translate3d(-35px, -190px, 0) scale(0.2);
		opacity: 1;
	}
}

@-webkit-keyframes scalebigin {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
		opacity: 0;
	}
	40% {
		-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
		opacity: 1;
	}
	80% {
		-webkit-transform: translate3d(-18px, -350px, 0px) scale(0.7);
	}
	90%{
		-webkit-transform: translate3d(-35px, -190px, 0) scale(0.2);
	}
	95%{
		-webkit-transform: translate3d(-35px, -200px, 0) scale(0.2);
	}
	100% {
		-webkit-transform: translate3d(-35px, -190px, 0) scale(0.2);
		opacity: 1;
	}
}



.runRotation{
	animation: lightRotation 1.5s 0.3s linear infinite;
	-webkit-animation: lightRotation 1.5s 0.3s linear infinite;
}

@keyframes lightRotation{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes lightRotation{
	0%{
		-webkit-transform: rotate(0);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}