<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="format-detection" content="telephone=no" />
		<script>
			// class
			! function(navigator) {
				var userAgent = navigator.userAgent;
				documentElement = document.documentElement;
				if(userAgent.match(/micromessenger\/5/gi)) {
					documentElement.className += " mobile wx_mobile wx_mobile_5";
				} else if(userAgent.match(/micromessenger/gi)) {
					documentElement.className += " mobile wx_mobile";
				} else if(userAgent.match(/ucbrowser/gi)) {
					documentElement.className += " mobile uc_mobile";
				} else if(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent.toLowerCase())) {
					documentElement.className += " mobile";
				} else if(userAgent.toLowerCase().match(/msie/gi) && (parseFloat(userAgent.toLowerCase().match(/msie ([0-9]{1,}[\.0-9]{0,})/i)[1] || 999) < 9)) {
					documentElement.className += " pc pc-ie pc-ie8";
				} else if(userAgent.toLowerCase().match(/msie/gi) || navigator.msPointerEnabled || navigator.pointerEnabled) {
					documentElement.className += " pc pc-ie";
				} else {
					documentElement.className += " pc";
				}
			}(navigator);
			// meta
			! function(userAgent) {
				var screen_w = parseInt(window.screen.width),
					scale = screen_w / 640;
				if(/Android (\d+\.\d+)/.test(userAgent)) {
					var version = parseFloat(RegExp.$1);
					document.write(version > 2.3 ? '<meta name="viewport" content="width=640, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=640 target-densitydpi=device-dpi">');
				} else {
					document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
				}
			}(navigator.userAgent);
		</script>
		<title>平安银行</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="container">

			<div class="m-box">
            	
                <div class="u-box">
					<div class="u-img">
						<img src="images/chengewang.jpg">
						<span>分享人：邹越、李树宏、朱珠、任冶公</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：平安银行橙e网</span>
						</div>
						<div class="r-link">
							<a href="chengewang.html"></a>
						</div>
					</div>
					<div class="u-info small">
						<span>职位：</span>
						<p>邹越（财富管理团队经理），李树宏（交易市场团队产品经理），朱珠（网络营销团队经理），任冶公（电子渠道团队产品经理）</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/jiangsicheng.jpg">
						<span>分享人：蒋思成</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：带你体验临柜电子化</span>
						</div>
						<div class="r-link">
							<a href="tiyanguimiandianzihua.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部结算管理室支付业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/shinan.jpg">
						<span>分享人：史楠</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：远程集中授权</span>
						</div>
						<div class="r-link">
							<a href="yuanchengjizhongshouquan.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部结算管理室综合结算业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/lizhengke.jpg">
						<span>分享人：李政珂</span>
					</div>
					<div class="u-user">
						<div class="l-name font_height">
							<span>作品：FaceBank</span>
						</div>
						<div class="r-link">
							<a href="facebrank.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部产品流程室支付业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/fanzhanwu.jpg">
						<span>分享人：范占武</span>
					</div>
					<div class="u-user">
						<div class="l-name font_height">
							<span>作品：用物联网技术做银行实物</span>
						</div>
						<div class="r-link">
							<a href="shiwuguanli.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部结算管理室票据结算业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/jinxin.jpg">
						<span>分享人：金鑫</span>
					</div>
					<div class="u-user">
						<div class="l-name">
							<span>作品：对公自助银行</span>
						</div>
						<div class="r-link">
							<a href="duigongzizhuyinhang.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部产品流程室零售业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

				<div class="u-box">
					<div class="u-img">
						<img src="images/limeiyi.jpg">
						<span>分享人：李姝一</span>
					</div>
					<div class="u-user">
						<div class="l-name font_height">
							<span>作品：公司贷款受托支付智能化</span>
						</div>
						<div class="r-link">
							<a href="gongsidaikuan.html"></a>
						</div>
					</div>
					<div class="u-info">
						<span>职位：</span>
						<p>总行运营管理部产品流程室资深业务管理岗</p>
					</div>
					<div class="u-like">
						<span>一言不合</span>
						<h1></h1>
						<span>就给赞</span>
					</div>
				</div>

			</div>

		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/wxfx.js" ></script>
	<script type="text/javascript" src="../js/common.js"></script>

</html>