<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>磊迈照明</title>
		<link rel="stylesheet" href="css/litematrix.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!--首页banner需要引进的1个文件bannerstyle-->
		<link rel="stylesheet" href="css/indexbstyle.css" />
		
		<link rel="stylesheet" href="css/perfect-scrollbar.css" />
		
		
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

		<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js" ></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js" ></script>

		<script type="text/javascript" src="js/respond.js"></script>
		<!--首页磊迈资讯上下滚动需要引进的2个文件jquery-1.8.3.min.js,jq_scroll-->
		<script type="text/javascript" src="js/jq_scroll.js"></script>

		<!--首页案例中心banner需要引进的2个文件jquery-1.8.3.min.js,unslider-->
		<script type="text/javascript" src="js/unslider.min.js"></script>
					
		<!--首页案例中心滚动条需要引进的3个文件jquery-1.8.3.min.js,jquery.mousewheel，perfect-scrollbar-->
		<script type="text/javascript" src="js/jquery.mousewheel.js" ></script>
		<script type="text/javascript" src="js/perfect-scrollbar.js" ></script>
		
		<!---->
		<script type="text/javascript" src="js/nav.js"></script>
			
	
	</head>

	<body>

		<!--导航-->
		<div class="header_bg" style="z-index: 8888;">
			<div class="header_box">
				<div class="logo">
					<a href="index.html"><img src="images/biglogo.jpg"></a>
				</div>
				<div class="nav_bg">
					<!--导航nav-->
					<div class="nav" id="nav">
						<ul>
							<li><a href="javascript:;"> LIGHT PLACE</a></li>
							<li><a href="products/product.html">PRODUCT</a></li>
							<li><a href="javascript:;">PROJECT</a></li>
							<li><a href="technology/technology.html">TECHNOLOGY</a></li>
							<li><a href="information/information.html"> INFORMATION</a></li>
						</ul>
					</div>
					<!--搜索-->
					<div class="search">
						<a href="../CH/index.html">CH</a>
						<form>
							<div class="input">
								<input type="text" name="" />
								<span class="search_img"></span>
							</div>
							<input type="button" value="search" name="search" id="search_btn" />
						</form>
					</div>
				</div>
			</div>
			<!--下拉子菜单-->
			<div class="sub_bg" id="lists">

				<!--光影文化-->
				<div class="sub_box ">
					<h1>Light Place</h1>
					<ul class="big_img">
						<li>
							<a href="light/lightculture.html">
								<span class="light_one"><img src="images/light/nav01.png"></span>
								<span class="p">>Light Culture</span>
							</a>
						</li>
						<li>
							<a href="light/lighteconomy.html">
								<span class="light_two"><img src="images/light/nav02.png"></span>
								<span class="p">>Light Cost-Effective</span>
							</a>
						</li>
						<li>
							<a href="light/lightscene.html">
								<span class="light_three"><img src="images/light/nav03.png"></span>
								<span class="p">>Light Environment</span>
							</a>
						</li>
					</ul>
				</div>

				<!--产品中心-->
				<div class="sub_box sub_box2">
					
					<!-- 向下拉提示-->
					<span class="down">
						<span class="down_icon"></span>
						<span class="down_text">请向下滚动！</span>
					</span>
					
					
					<span id="Default" class="contentHolder2">
						<span class="content contentBox">
						
						<span class="nav_product_title">
							<h2>Outdoor Lighting</h2>
		
						</span>
						<ul class="small_img">
							<li>
								<a href="products/product.html#hw1">
									<span class="led_one"><img src="images/product/hw-icon01.png"></span>
									<span class="p">LED Flood Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw2">
									<span class="led_one"><img src="images/product/hw-icon02.png"></span>
									<span class="p">LED Spot Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw3">
									<span class="led_one"><img src="images/product/hw-icon03.png"></span>
									<span class="p">LED Linear Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw4">
									<span class="led_one"><img src="images/product/hw-icon04.png"></span>
									<span class="p">LED Wall Grazing Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw5">
									<span class="led_one"><img src="images/product/hw-icon05.png"></span>
									<span class="p">LED Dot Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw6">
									<span class="led_one"><img src="images/product/hw-icon06.png"></span>
									<span class="p">LED Underwater Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw7">
									<span class="led_one"><img src="images/product/hw-icon07.png"></span>
									<span class="p">LED Pixel Light Series</span>
								</a>
							</li>
						</ul>
						<span class="nav_product_title">
							<h2>Outdoor Lighting</h2>
							
						</span>
						<ul class="small_img">
							<li>
								<a href="products/product.html#hw1">
									<span class="led_one"><img src="images/product/hw-icon01.png"></span>
									<span class="p">LED Flood Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw2">
									<span class="led_one"><img src="images/product/hw-icon02.png"></span>
									<span class="p">LED Spot Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw3">
									<span class="led_one"><img src="images/product/hw-icon03.png"></span>
									<span class="p">LED Linear Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw4">
									<span class="led_one"><img src="images/product/hw-icon04.png"></span>
									<span class="p">LED Wall Grazing Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw5">
									<span class="led_one"><img src="images/product/hw-icon05.png"></span>
									<span class="p">LED Dot Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw6">
									<span class="led_one"><img src="images/product/hw-icon06.png"></span>
									<span class="p">LED Underwater Light Series</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#hw7">
									<span class="led_one"><img src="images/product/hw-icon07.png"></span>
									<span class="p">LED Pixel Light Series</span>
								</a>
							</li>
						</ul>
						<span class="nav_product_title">
							<h2>Control System</h2>
							
						</span>
						<ul class="small_img">
							<li>
								<a href="products/product.html#kz1">
									<span class="led_one"><img src="images/product/kz-icon01.png"></span>
									<span class="p">On-Line Master Controller</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#kz2">
									<span class="led_one"><img src="images/product/kz-icon02.png"></span>
									<span class="p">Off-Line Master Controller</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#kz3">
									<span class="led_one"><img src="images/product/kz-icon03.png"></span>
									<span class="p">Master Controller of Satellite Synchronization</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#kz4">
									<span class="led_one"><img src="images/product/kz-icon04.png"></span>
									<span class="p">Sub-Controller</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#kz5">
									<span class="led_one"><img src="images/product/kz-icon05.png"></span>
									<span class="p">Integrated Controller</span>
								</a>
							</li>
							<li>
								<a href="products/product.html#kz6">
									<span class="led_one"><img src="images/product/kz-icon06.png"></span>
									<span class="p">Scene Selector</span>
								</a>
							</li>
						</ul>
						
						</span>
					</span>
					
				</div>

				<!--案例中心-->
				<div class="sub_box ">
					<h1>Project</h1>
					<ul class="big_img">
						<li>
							<a href="case/case.html">
								<span class="light_one"><img src="images/case/anli-icon01.png"></span>
								<span class="p">Oversea Market</span>
							</a>
						</li>
						
					</ul>
				</div>

				<!--技术中心-->
				<div class="sub_box">
					<h1>Technology</h1>
					<ul class="big_img">
						<li>
							<a href="technology/technologyfold.html">
								<span class="light_one"><img src="images/technology/pro-icon01.png"></span>
								<span class="p">>Product Technology</span>
							</a>
						</li>
						<li>
							<a href="technology/download.html">
								<span class="light_two"><img src="images/technology/pro-icon02.png"></span>
								<span class="p">>Download</span>
							</a>
						</li>
					</ul>
				</div>

				<!--资讯中心-->
				<div class="sub_box ">
					<h1>Information</h1>
					<ul class="big_img">
						<li>
							<a href="information/introduce.html">
								<span class="light_one"><img src="images/information/info-nav-01.png"></span>
								<span class="p">>Company Profile</span>
							</a>
						</li>
						<li>
							<a href="information/honor.html">
								<span class="light_two"><img src="images/information/info-nav-02.png"></span>
								<span class="p">>Certificates</span>
							</a>
						</li>
						<li>
							<a href="information/news.html">
								<span class="light_one"><img src="images/information/info-nav-03.png"></span>
								<span class="p">>LiteMatrix News</span>
							</a>
						</li>
						<li>
							<a href="information/contact.html">
								<span class="light_two"><img src="images/information/info-nav-04.png"></span>
								<span class="p">>Contact Us</span>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<!--/导航-->
		<div class="clear"></div>
		<div class="fixed_top"></div>
		<!--banner-->
		<div class="banner" id="banner">
			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>
						<!-- SLIDE  -->
						<li data-transition="curtain-3" data-slotamount="14">
							<img src="images/banner/banner01.jpg">
							<div class="banner_txt">
								<p>追求绿色建筑照明，光与建筑的融合</p>
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-transition="boxslide" data-slotamount="7" data-masterspeed="300">
							<img src="images/banner/banner02.jpg" >
							<div class="banner_txt">
								<p>追求绿色建筑照明，光与建筑的融合.</p>
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>

		</div>

		<!--/banner-->

		<!--磊迈资讯-->
		<div class="info_bg">
			<div class="info">
				<div class="info_title">
					<h1 style="padding-left: 10px;">Information</h1>
					<span></span>
				</div>
				<div class="info_cont">
					<ul>
						<li><a href="information/newspage.html">Send a leading industry, shenzhen lei product appearance 2014 light the exhibition with the model</a></li>
						<li><a href="information/newspage.html">Send a leading industry, shenzhen lei product appearance 2014 light the exhibition with the model</a></li>
					</ul>
				</div>
				<div class="info_btn">
					<a href="javascript:;" id="toUp" class="toUp"><span></span></a>
					<a href="javascript:;" id="toDown" class="toDown"><span></span></a>
				</div>
			</div>
		</div>
		<!--/磊迈资讯-->

		<!--产品中心-->
		<div class="product_bg">
			<div class="product">
				<h1>PROUDUCT</h1>
				<!--产品列表-->
				<div class="product_box">
					<div class="product_img scaleImg">
						<span><img src="images/product-01.jpg"></span>
						<p class="lt_title en_lt">LED Spot Light Series</p>
						<p class="rb_title">F2WS-48</p>
					</div>
					<div class="product_info">
						<h2>Outdoor Lighting</h2>
						<p>Large outdoor color project-light lamp, with a 3.5 ° and 4 ° * 19 ° is optional.3.5 ° suitable for 50 meters high wall, less than 190 meters distance projection.4 ° * 19 ° suitable for 10 to 20 meters high wall</p>
						<a href="products/productpage1.html">More</a>
					</div>
				</div>
				<div class="product_box">
					<div class="product_img scaleImg">
						<span><img src="images/product-02.jpg"></span>
						<p class="lt_title en_lt">LED Flood Light Series</p>
						<p class="rb_title">F2WS-48</p>
					</div>
					<div class="product_info">
						<h2>Indoor Lighting</h2>
						<p>Large outdoor color project-light lamp, with a 3.5 ° and 4 ° * 19 ° is optional.3.5 ° suitable for 50 meters high wall, less than 190 meters distance projection.4 ° * 19 ° suitable for 10 to 20 meters high wall</p>
						<a href="products/productpage2.html">More</a>
					</div>
				</div>
				<div class="product_box">
					<div class="product_img scaleImg">
						<span><img src="images/product-03.jpg"></span>
						<p class="lt_title en_lt">Master Controller of Satellite Synchronization</p>
						<p class="rb_title">SD-5000</p>
					</div>
					<div class="product_info">
						<h2>Control System</h2>
						<p>Large outdoor color project-light lamp, with a 3.5 ° and 4 ° * 19 ° is optional.3.5 ° suitable for 50 meters high wall, less than 190 meters distance projection.4 ° * 19 ° suitable for 10 to 20 meters high wall</p>
						<a href="products/productpage1.html">More</a>
					</div>
				</div>
				<div class="product_box">
					<div class="product_img scaleImg">
						<span><img src="images/product-04.jpg"></span>
						<p class="lt_title en_lt">LED Flood Light Series</p>
						<p class="rb_title">F2WS-48</p>
					</div>
					<div class="product_info">
						<h2>New Product</h2>
						<p>Large outdoor color project-light lamp, with a 3.5 ° and 4 ° * 19 ° is optional.3.5 ° suitable for 50 meters high wall, less than 190 meters distance projection.4 ° * 19 ° suitable for 10 to 20 meters high wall</p>
						<a href="products/productpage1.html">More</a>
					</div>
				</div>

			</div>
		</div>
		<!--/产品中心-->

		<!--案例中心-->

		<div class="case_bg" id="case_bg">
			<div class="case_left" id="case_left">
				<h1 id="case_title">PROJECT</h1>
				<ul>
					<li class="case_lion"><a href="javascript:;"><span></span></a></li>
					<li><a href="javascript:;"><span></span></a></li>
					<!--<li><a href="javascript:;"><span></span></a></li>-->
				</ul>
				<div class="case_cont" id="case_cont">
					<div class="case_info case_show">
						<div id="Default" class="contentHolder">
							<div class="content">
								<h2>Light is our final product</h2>
								<p>Although good luminaires come from a good design, advanced lighting technology，and manufacturing systems. But accurate and quality light that is ultimately delivered. Such light in the ultimate pursuit of product value is the important bond between luminaires and people.</p>
								<h2>Intergration of Luminaires and Architecture</h2>
								<p>Making luminaires a part of the building is what we pursue,with the options of having the luminaires hidden as material or exposed generously to become an organic part of the building,which is another type of “concealment.”Through multilateral cooperation to achieve a reasonable industrial design, coupled with the innovation in technology,luminaires will be in greater harmony with architecture.</p>
								<a href="javascript:;">More ></a>
							</div>
						</div>
					</div>
					<div class="case_info ">
						<div id="" class="contentHolder">
							<div class="content">
								<h2>Light is our final product</h2>
								<p>Although good luminaires come from a good design, advanced lighting technology，and manufacturing systems. But accurate and quality light that is ultimately delivered. Such light in the ultimate pursuit of product value is the important bond between luminaires and people.</p>
								<h2>Intergration of Luminaires and Architecture</h2>
								<p>Making luminaires a part of the building is what we pursue,with the options of having the luminaires hidden as material or exposed generously to become an organic part of the building,which is another type of “concealment.”Through multilateral cooperation to achieve a reasonable industrial design, coupled with the innovation in technology,luminaires will be in greater harmony with architecture.</p>
								<a href="javascript:;">More ></a>
							</div>
						</div>
					</div>
					<!--<div class="case_info ">
						<div id="" class="contentHolder">
							<div class="content">
								<h2>国内市场</h2>
								<p>黄超 全国两会期间，习近平总书记开启了“下团”交流座谈的参会模式。“民有所想所求，我们就要为他‘报“两会特刊”这几天更新了多篇他们的“声音”。今天，人民日报全媒体平台（中央厨房）就替你整理其中9位省委书记的两会笔记。
								</p>
							</div>
						</div>
					</div>-->
				</div>
				<div class="case_btn" id="case_btn" style="margin-top: -22%;">
					<div class="btn_one btn_bg btn_on">
						<a href="javascript:;" class=""><span></span></a>
					</div>
					<!--<div class="btn_two btn_bg">
						<a href="javascript:;" class=""><span></span></a>
					</div>-->
					<div class="btn_three btn_bg">
						<a href="javascript:;" class=""><span></span></a>
					</div>
				</div>
			</div>

			<div class="case_right" id="case_right">
				<div class="case_nav case_navon">
					<div class="case_banner b06" id="">
						<ul>
							<li><img class="sliderimg" src="images/case/banner01.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg" src="images/case/banner02.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg" src="images/case/banner03.jpg" alt="" width="100%"></li>
						</ul>
					</div>
				</div>
				<div class="case_nav">
					<div class="case_banner b06" id="">
						<ul>
							<li><img class="sliderimg2" src="images/case/banner01.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg2" src="images/case/banner02.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg2" src="images/case/banner03.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg2" src="images/case/banner03.jpg" alt="" width="100%"></li>
						</ul>
					</div>
				</div>
				<!--<div class="case_nav">
					<div class="case_banner b06" id="">
						<ul>
							<li><img class="sliderimg3" src="images/case/banner01.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg3" src="images/case/banner02.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg3" src="images/case/banner03.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg3" src="images/case/banner02.jpg" alt="" width="100%"></li>
							<li><img class="sliderimg3" src="images/case/banner03.jpg" alt="" width="100%"></li>
						</ul>
					</div>
				</div>-->
			</div>
		</div>
		<!--/案例中心-->

		<!--格言-->
		<div class="motto_bg">
			<p>Seeking Optimal Cost-effective Light, Let's combine Luminaires and Architecture with human and nature</p>
		</div>
		<!--/格言-->

		<!--底部-->
		<div class="footer_bg">
			<div class="footer en_h1">

				<!--产品中心-->
				<div class="footer_nav">
					<h1>Product</h1>
					<ul>
						<li><a href="products/product.html">Outdoor Lighting</a></li>
						<li><a href="products/product.html">Indoor Lighting</a></li>
						<li><a href="products/product.html">Control System</a></li>
					</ul>
				</div>

				<!--光影文化-->
				<div class="footer_nav">
					<h1>Light Place</h1>
					<ul>
						<li><a href="light/lightculture.html">Light Culture</a></li>
						<li><a href="light/lighteconomy.html">Light Cost-Effective</a></li>
						<li><a href="light/lightscene.html">Light Environment</a></li>
					</ul>
				</div>

				<!--技术支持-->
				<div class="footer_nav">
					<h1>Technology</h1>
					<ul>
						<li><a href="technology/technology.html">Supports</a></li>
						<li><a href="technology/download.html">Download</a></li>
					</ul>
				</div>

				<!--资讯中心-->
				<div class="footer_nav">
					<h1>Information</h1>
					<ul>
						<li><a href="information/introduce.html">Company Profile</a></li>
						<li><a href="information/honor.html">Certificates</a></li>
						<li><a href="information/news.html">News</a></li>
					</ul>
				</div>

				<!--售后服务-->
				<div class="footer_nav serve">
					<h1>After-Sales Service：</h1>
					<div class="footer_tel">
						<span class="tel_img"><img src="images/tel.jpg"></span> 86-75526895498
					</div>
					<p>Follow Us</p>
					<ul>

						<div class="bdsharebuttonbox" data-tag="share_1">
							<a class="share_one" data-cmd="fbook"></a>
							<a class="share_two" data-cmd="fx"></a>
							<a class="share_three" data-cmd="tsina"></a>
							<a class="share_four" data-cmd="weixin"></a>
							<a class="share_five" data-cmd="tqq"></a>
						</div>
					</ul>
				</div>

			</div>
			<div class="line"></div>
			<div class="copyright">
				<p> All Rights Reserved &copy;LiteMatrix Technology 2012. Reserves All Rights</p>
			</div>
		</div>
		<!--/底部-->
		<script>
			
			//更改浮动导航，出现滚动条
			$(window).scroll(function() {
				var original_left = $('.header_box').offset().left;
				var new_left = -$(window).scrollLeft() + 'px';
				$('.header_fixed').css({
					left: new_left
				});
			});
			//加载案例中心banner点击切换按钮
			function clickCase() {
				$(".case_left li").click(function() {
					$(".case_left li").eq($(this).index()).addClass("case_lion").siblings().removeClass('case_lion');
					$(".case_btn div").removeClass('btn_on').eq($(this).index()).addClass("btn_on");
					$(".case_nav").eq($(this).index()).addClass("case_navon").siblings().removeClass('case_navon');
					$(".case_info").hide().eq($(this).index()).show();
				});
				$(".case_btn div").click(function() {
					$(".case_btn div").eq($(this).index()).addClass("btn_on").siblings().removeClass('btn_on');
					$(".case_left li").removeClass('case_lion').eq($(this).index()).addClass("case_lion");
					$(".case_nav").eq($(this).index()).addClass("case_navon").siblings().removeClass('case_navon');
					$(".case_info").hide().eq($(this).index()).show();
				});
			}
			//设置 高度
			function setHight() {
				var oImgHeight = $(".sliderimg").height();
				
				$('.case_bg').css({
					height: oImgHeight + 'px'
				});
				$('.case_left').css({
					height: oImgHeight + 'px'
				});
				$('.case_right').css({
					height: oImgHeight + 'px'
				});
				$('.case_banner ul li').css({
					height: oImgHeight + 'px'
				});
			}
			$(window).load(function(){
				setHight();
			});
			$(window).resize(function() {
				setHight();
				clickCase();
			});
			$(document).ready(function(e) {
				
				if($('.nav_product_title').length>2){
					$('.down').show();
				}else{
					$('.down').hide();
				}
				
				jQuery('.tp-banner').revolution({
					delay: 9000,
					startheight: 994,
					startwidth: 2560,
					hideThumbs: 10,
					fullWidth: "on",
					forceFullWidth: "on"
				});
				
				//设置菜单导航
				setNav();
				//滚动页面 头部导航浮动在顶部
				$(window).bind('scroll', function() {
					if ($(window).scrollTop() > 0) {
						$('.header_bg').addClass('header_fixed');
						$('.fixed_top').addClass('margin_top');
					} else {
						$('.header_bg').removeClass('header_fixed');
						$('.fixed_top').removeClass('margin_top');
						$('.header_bg').css({
							left: 0
						});
					}
				})
				//磊迈资讯滚动
				$(".info_cont").Scroll({
					line: 1,
					speed: 500,
					timer: 3000,
					up: "toUp",
					down: "toDown"
				});
				//案例中心下的滚动条
				
				$('.contentHolder').perfectScrollbar();
				$('.contentHolder2').perfectScrollbar();
				setHight();
				clickCase();

				//设置案例中心banner轮播
				var unslider06 = $('.b06').unslider({
						speed: 500, 
						delay: 3000, 
						complete: function() {}, 
						keys: false, 
						dots: true, 
						fluid: true 
					}),
				data06 = unslider06.data('unslider');
				$('.unslider-arrow06').click(function() {
					var fn = this.className.split(' ')[1];
					data06[fn]();
				});
			});
			//分享
			window._bd_share_config = {
				share: [{
					"bdSize": 36
				}],
			}
			with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
		</script>
	</body>

</html>