/*--------------解决方案-------------*/

.case-banner{
	width: 100%;
	min-width: 1200px;
	height: 380px;
	background: url(../images/case/case-banenr.jpg) center no-repeat;
}
.case-box{
	width: 1200px;
	height: auto;
	background: #FFFFFF;
	margin: auto;
}
.case-title{
	width: 1200px;
	height: 72px;
	margin: auto;
}
.title-l{
	width: 600px;
	height: 100%;
	float: left;
	display: block;
}
.title-l ul{
	width: auto;
	height: 100%;
}
.title-l ul li{
	float: left;
	display: block;
	line-height: 72px;
	font-size: 24px;
	color: #20467c;
	margin-right: 10px;
}
.title-l .gray{
	color: #c8c8c8;
}
.title-r{
	width: auto;
	height: 100%;
	float: right;
	display: block;
}
.title-r form{
	width: 100%;
	height: 100%;
}
.f-text{
	float: left;
	display: block;
	height: 30px;
	border: 1px solid #d2d2d2;
	margin: 20px 0 0 0;
}
.f-text input{
	font-size: 16px;
	width: 204px;
	height: 30px;
	padding: 0 0px 0 10px;
	display: block;
	float: left;
}
.f-text span{
	width: 30px;
	height: 30px;
	float: left;
	display: block;
	background: url(../images/case/case-search.jpg) center center no-repeat;
}
.f-btn{
	float: left;
	display: block;
	height: 32px;
	margin: 20px 0 0 0;
}
.f-btn input{
	width:60px;
	height: 32px;
	background: #F58029;
	color: #FFFFFF;
	margin-left: 10px;
}

.case-content{
	width: 1200px;
	height: auto;
	margin: auto;
	overflow: hidden;
}
.case-content ul li{
	width: 380px;
	height: 400px;
	border-bottom: 1px dashed #999999;
	float: left;
	display: block;
	margin: 0 30px 30px 0;
}
.case-content ul li:hover{
	cursor: pointer;
}
.case-content ul li:hover .s-img img{
	transform: scale(1.1);
}
.case-content ul li:hover .s-text h2{
	color: #F58029;
}
.case-content ul li:hover .s-text span{
	background: url(../images/case/img-hover.png) center center no-repeat;
	border: 1px solid #F58029;
}
.s-img{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.s-img img{
	transition: all 0.35s;
	width: 100%;
	height: 100%;
}
.s-text{
	width: 100%;
	height: 200px;
}
.s-text h2{
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #0e7eb7;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: all 0.35s;
}
.s-text p{
	width: 100%;
	height: 70px;
	line-height: 24px;
	color: #666;
	font-size: 14px;
	overflow: hidden;
	margin-bottom: 10px;
}
.s-text span{
	transition: all 0.35s;
	margin: 0 10px 0 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/case/img.png) center center no-repeat;
	border-radius: 3px;
	border: 1px solid #0E7EB7;
	vertical-align: middle;
}
.s-text a{
	display: inline-block;
	line-height: 24px;
	color: #0E7EB7;
}
.s-text a:hover{
	color: #F58029;
	text-decoration: underline;
}



/*----------------------*/
.case-box-bg{
	width: 100%;
	min-width: 1200px;
	height: auto;
	background: #f4f4f4;
	padding: 36px 0 50px 0;
}
.case-use-box{
	width: 1200px;
	height: auto;
	margin: auto;
	clear: both;
}
.l-nav{
	width: 190px;
	height: auto;
	float: left;
}
.l-nav h1{
	width: 100%;
	height: 58px;
	line-height: 58px;
	background: #117de4;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}
.l-nav ul li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	
	text-align: center;
	margin-top: 1px;
}
.l-nav ul li a{
	width: 100%;
	height: 100%;
	display: block;
	background: #FFFFFF;
}
.l-nav ul li a:hover{
	background: #F58029;
	color: #FFFFFF;
}
.l-nav .l-nav-active a{
	background: #F58029;
	color: #FFFFFF;
}
.r-content-bg{
	width: 976px;
	height: auto;
	float: right;
	display: block;
	
}
.r-content{
	width: 100%;
	height: auto;
	margin: auto;
	background: #FFFFFF;
}
.r-content-title{
	width: 900px;
	height: 60px;
	border-bottom: 1px dashed #7d7d7d;
	margin: auto;
	line-height: 60px;
}
.r-content-title ul{
	width: auto;
	height: 100%;
}
.r-content-title ul li{
	float: left;
	display: block;
	line-height: 60px;
	font-size: 22px;
	color: #117de4;
	margin-right: 10px;
}
.r-content-title .gray{
	color: #bebebe;
}
.r-content-text{
	clear: both;
	width: 900px;
	height: auto;
	margin: auto;
}
.r-content-text ul li{
	width: 100%;
	height: 220px;
	border-bottom: 1px dashed #e5e5e5;
}
.l-text-img{
	width: 266px;
	height: 166px;
	float: left;
	display: block;
	margin: 27px 27px 0 0;
	
	overflow: hidden;
}
.l-text-img img{
	width: 100%;
	height: auto;
	transition: all 0.35s;
}
.l-text-img:hover img{
	cursor: pointer;
	transform: scale(1.2);
}
.r-text-cont{
	float: left;
	display: block;
	width: 600px;
	height: 166px;
	margin: 27px 0 0 0;
	overflow: hidden;
}
.r-text-cont a{
	display: block;
	font-size: 18px;
	color: #0e7eb7;
	width: 100%;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.r-text-cont a:hover{
	color: #F58029;
}
.r-text-cont span{
	width: 45px;
	height: 10px;
	border-bottom: 1px solid #e5e5e5;
	display: block;
}
.r-text-cont p{
	width: 100%;
	height: 75px;
	overflow: hidden;
	line-height: 24px;
	color: #666666;
	margin: 20px 0 0 0;
}

.page-list{
	width: auto;
	height: 46px;
	float: right;
	display: block;
	text-align: center;
	line-height: 46px;
	margin-top: 20px;
}
.page-l-btn{
	width: 46px;
	height: 46px;
	display: block;
	float: left;
	margin: 0 15px 0 0;
	background: #FFFFFF;
	transition: all 0.35s;
}
.page-l-btn span{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/case/left.png) center center no-repeat;
}
.page-l-btn:hover{
	background: #F58029;
	cursor: pointer;
}
.page-l-btn:hover span{
	background: url(../images/case/left-hover.png) center center no-repeat;
}
.page-r-btn{
	width: 46px;
	height: 46px;
	display: block;
	float: left;
	background: #FFFFFF;
	transition: all 0.35s;
}
.page-r-btn span{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../images/case/right.png) center center no-repeat;
}
.page-r-btn:hover{
	background: #F58029;
	cursor: pointer;
}
.page-r-btn:hover span{
	background: url(../images/case/right-hover.png) center center no-repeat;
}
.page-list ul{
	width: auto;
	height: 46px;
	float: left;
	display: block;
}
.page-list ul li{
	width: 46px;
	height: 46px;
	margin: 0 15px 0 0;
	float: left;
	display: block;
}
.page-list ul li a{
	display: block;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.page-list ul li a:hover{
	background: #F58029;
	color: #FFFFFF;
}



/*-------------详情页------------------*/
.info_page_bg{
	width: 100%;
	height: auto;
	background: #eaeff3;
	padding: 60px 0;
}

.new_page_title {
	width: 1200px;
	height: 130px;
	margin: auto;
}

.new_page_title h1 {
	width: 100%;
	height: 72px;
	line-height: 72px;
	color: #0e7eb7;
	font-size: 36px;
}

.new_page_title span {
	line-height: 28px;
	color: #0e7eb7;
	font-size: 16px;
	padding: 0 10px 0 0;
}

.new_page_content {
	width: 1026px;
	margin: auto;
	padding: 0 87px 50px 87px;
	height: auto;
	position: relative;
	background: #FFFFFF;
	line-height: 28px;
}

.right_share {
	position: absolute;
	top: 100px;
	right: -46px;
}

.right_share ul li {
	width: 46px;
	height: auto;
	margin: 0 0 10px 0;
}

.right_share .return {
	width: 46px;
	height: 84px;
	background: #666;
}

.right_share .return span {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 125px;
	color: #FFFFFF;
	font-size: 16px;
	background: url(../images/return_news.jpg) center 20px no-repeat;
}

.right_share .bdsharebuttonbox a {
	width: 46px;
	height: 46px;
	display: block;
	padding: 0;
}

.right_share .bdsharebuttonbox .right_share_weixin {
	background: url(../images/case/share-weixin.jpg) center no-repeat;
}

.right_share .bdsharebuttonbox .right_share_tsina {
	background: url(../images/case/share-sina.jpg) center no-repeat;
}

.right_share .bdsharebuttonbox .right_share_fbook {
	background: url(../images/case/share-facebook.jpg) center no-repeat;
}

.new_page_img {
	display: block;
	padding: 82px 0 50px 0;
	width: 1026px;
	height: 668px;
	margin: auto;
}

.new_page_content p {
	width: 100%;
	height: auto;
	line-height: 28px;
	color: #464646;
}




















