<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="format-detection" content="telephone=no" />
		<script>
			// class
			! function(navigator) {
				var userAgent = navigator.userAgent;
				documentElement = document.documentElement;
				if(userAgent.match(/micromessenger\/5/gi)) {
					documentElement.className += " mobile wx_mobile wx_mobile_5";
				} else if(userAgent.match(/micromessenger/gi)) {
					documentElement.className += " mobile wx_mobile";
				} else if(userAgent.match(/ucbrowser/gi)) {
					documentElement.className += " mobile uc_mobile";
				} else if(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent.toLowerCase())) {
					documentElement.className += " mobile";
				} else if(userAgent.toLowerCase().match(/msie/gi) && (parseFloat(userAgent.toLowerCase().match(/msie ([0-9]{1,}[\.0-9]{0,})/i)[1] || 999) < 9)) {
					documentElement.className += " pc pc-ie pc-ie8";
				} else if(userAgent.toLowerCase().match(/msie/gi) || navigator.msPointerEnabled || navigator.pointerEnabled) {
					documentElement.className += " pc pc-ie";
				} else {
					documentElement.className += " pc";
				}
			}(navigator);
			// meta
			! function(userAgent) {
				var screen_w = parseInt(window.screen.width),
					scale = screen_w / 640;
				if(/Android (\d+\.\d+)/.test(userAgent)) {
					var version = parseFloat(RegExp.$1);
					document.write(version > 2.3 ? '<meta name="viewport" content="width=640, minimum-scale = ' + scale + ", maximum-scale = " + scale + ', target-densitydpi=device-dpi">' : '<meta name="viewport" content="width=640 target-densitydpi=device-dpi">');
				} else {
					document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
				}
			}(navigator.userAgent);
		</script>
		<title>E理赔手持智能终端</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="container2">
			<div class="works-container">
				<div class="works-box">
					<div class="works-1">
						<span><img src="../images/work-bg1.png"></span>
						<span><img src="images/e-lipei-1.png"></span>
					</div>
					<div class="works-2">
						<span><img src="../images/work-bg2.png"></span>
						<span><img src="images/gongzhenhai-2.jpg"></span>
					</div>
				</div>

				<div class="works-info">
					<h1>《E理赔手持智能终端》简介</h1>
					<p>车险E理赔手持智能终端是为万名查勘员量身定制的查勘神器，坐席可通过神器智能派工，客户可实时查看查勘员位置，查勘员可利用车损照自动上传功能及自己碎片时间完成定损，现场支付，缩短客户理赔时间，提升理赔体验。</p>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/wxfx.js" ></script>
	<script type="text/javascript" src="../js/common.js"></script>

</html>