<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>致尚家居</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/lamaisonmaode.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
	</head>

	<body>
		<!--header-->
		<div class="header">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png"></a>
			</div>	
			<div class="header-box">
				<div class="change-v">
					<a href="">EN</a>
				</div>
				<div class="search">
					<span><img src="images/search-btn.png"></span>
				</div>
				<div class="nav">
					<span><img src="images/nav-btn.png"></span>
				</div>
			</div>
			<!--search-->
			<div class="search-box">
				<form>
					<input type="text" placeholder="请输入您好搜索的内容" />
					<input type="button" class="search_btn" />
				</form>
			</div>
		</div>

		<!--左侧导航-->
		<div class="nav-box">
			<span class="close-btn"><img src="images/close.png"></span>
			<span><img src="images/logo.png"></span>
			<div class="nav-container">
				<ul>
					<li><a href="life/brand.html">生活精品</a></li>
					<li><a href="inspiration/inspiration.html">灵感之家</a></li>
					<li><a href="home/inspiration.html">家居形象</a></li>
					<li><a href="lifesalon/lifesalon.html">生活沙龙</a></li>
					<li><a href="project/project.html">项目介绍</a></li>
					<li><a href="gift/giftservices.html">礼品服务</a></li>
				</ul>
			</div>
		</div>
		<div class="padding-top">1</div>
		<!--banner-->

		<div class="banner-box">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide"><a href=""><img src="images/index/banner-01.jpg"></a></div>
			        <div class="swiper-slide"><a href=""><img src="images/index/banner-02.jpg"></a></div>
			        <div class="swiper-slide"><a href=""><img src="images/index/banner-01.jpg"></a></div>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- 如果需要导航按钮 -->
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
			    
			</div>
		</div>
		<!--内容-->
		<div class="container">

			<!--关于致尚-->
			<div class="b-block">
				<div class="t-title">
					<span>L</span><span>关于致尚</span>
				</div>
				<div class="t-text">
					<p>致. 生活，设计于生活。以“家”的概念融家居 / 社交 / 时尚 / 艺术 / 跨界文化等生活品味与生活美感的服务于顾客。致. 生活，以体 验式创意生活空间，为顾客带来的不只是一站式的优质家俬、家品的购物商场；更是一种创意生活态度。 致. 生活主要为世界设计家居精品店及时尚家居形象专属服务。</p>
				</div>
				<!--视频---->
				<div class="v-video">
					<video id="video1" controls="controls" preload="metadata" poster="images/index/img-01.jpg">
						<source src="http://consumer.huawei.com/en/ucmf/groups/public/documents/consumer_video/mediapadm2-10-prod-en.mp4" type="video/mp4"></source>
					</video>
				</div>
			</div>

			<!--生活精品-->
			<div class="b-block">
				<div class="t-title">
					<span>M</span><span>生活精品</span>
				</div>
				<div class="t-text">
					<p>设计于生活，致. 生活有超过40 个世界知名设计 师品牌，6 大类家居产品，10 类家具装饰品，其中有荣 获国际设计大奖的家居精品及限量版国际名师设计家 具等。在致. 生活你是绝对可以找到心仪的设计家具家 品，致. 生活是相信创意造就生活美感。</p>
				</div>
				<!--图片---->
				<div class="life-images-box">
					<span><img src="images/index/img-02.jpg"></span>
					<span><img src="images/index/img-03.jpg"></span>
					<span><img src="images/index/img-04.jpg"></span>
					<div class="m-more">
						<span><img src="images/index/img-05.jpg"></span>
						<span>
							<p>La Masion Mode的创意家居形象设计团队，从每个顾客的个性和特质出发，量身订制基于个人风格和生活追求的家居生活创意服务。</p>						
						</span>
						<span>
							<a href="">查看更多</a>
						</span>
					</div>
				</div>
			</div>

			<!--灵感之家-->
			<div class="b-block afflatus">
				<div class="t-title">
					<span>M</span><span>灵感之家</span>
				</div>
				<div class="t-text">
					<p>以时尚家居情景式的布局来展示致. 生活的家居商品陈设及设计细节 所营造的生活格调，让顾客在一幕幕的家居生活情调中，如置身于自己 梦想的生活状态，体验致. 生活商品所带来的生活美感。 La Masion Mode的创意形象设计团队走在家居时尚潮流的最前沿， 他们擅长用最专业的创意手法表达生活审美的高境界：为客户提供最适 合的设计、搭配最适合的组合、体现最符合个性的生活态度。 主力是生活美学创意工程，以品牌策略营运，以专业团队，以时尚买 手／家居形象师打造LMM 商品组合／商品策略／买场佈局策略与创意工
						程／陈列等。
					</p>
				</div>
				<!--图片---->
				<div class="afflatus-images-box">
					<span><img src="images/index/img-06.jpg"></span>
					<span><img src="images/index/img-07.jpg"></span>
					<span><img src="images/index/img-08.jpg"></span>

				</div>
				<!--视频---->
				<div class="v-video">
					<video id="video2" controls="controls" preload="metadata" poster="images/index/img-09.jpg">
						<source src="video/video.mp4" type="video/mp4"></source>
					</video>
				</div>
				<div class="m-more ">
					<span><img src="images/index/img-10.jpg"></span>
					<span>
						<a href="">查看更多</a>
					</span>
				</div>
			</div>

			<!--家居形象-->
			<div class="b-block home">
				<div class="t-title">
					<span>D</span><span>家居形象</span>
				</div>
				<div class="t-text">
					<p>以人为本。专业家居形象团队以顾客尊属服务为导向，成就顾客个人家 居格调，生活文化及生活美感。La Masion Mode 的创意家居形象设计团队，从每个顾客的个性和特质出发，量身订制基于个人风格和生活追求的家居生活创意服务，成就每个人专属的个人生活美学。</p>
				</div>

				<!--图文.视频展示---->
				<div class="show-lists">
					<div class="show-box img-show active-show">
						<span class="img-border"></span>
						<span class="img-src"><img src="images/index/1_03.jpg"></span>
						<div class="t-info">
							<h1>3D场景</h1>
							<p>融合各自的独特经历和创意，精雕细琢高品质。</p>
						</div>
					</div>
					<div class="show-box img-show">
						<span class="img-border"></span>
						<span class="img-src"><img src="images/index/2_03.jpg"></span>
						<div class="t-info">
							<h1>家居形象服务案例及顾客心声</h1>
							<p>融合各自的独特经历和创意，精雕细琢高品质。</p>
						</div>
					</div>
					<div class="show-box img-show">
						<span class="img-border"></span>
						<span class="img-src"><img src="images/index/3_03.jpg"></span>
						<div class="t-info">
							<h1>整体解决方案</h1>
							<p>融合各自的独特经历和创意，精雕细琢高品质。</p>
						</div>
					</div>
					<div class="show-box video-show">
						<video id="video3" controls="controls" preload="metadata" poster="images/index/img-09.jpg">
							<source src="http://consumer.huawei.com/en/ucmf/groups/public/documents/consumer_video/mediapadm2-10-prod-en.mp4" type="video/mp4"></source>
						</video>
						<div class="video-info">
							<span>Heine Thorsgaard</span>
							<p>家居形象师专业讲解</p>
						</div>
					</div>
				</div>
				<!--列表-->
				<div class="d-lists">
					<ul>
						<li class="choseVideo">
							<span><img src="images/index/img-12.jpg"></span>
							<span><img src="images/play-btn.png"></span></s>
						</li>
						<li>
							<span><img src="images/index/img-13.jpg"></span>
							<span><img src="images/play-btn.png"></span></s>
						</li>
						<li class="">
							<span><img src="images/index/img-14.jpg"></span>
							<span><img src="images/play-btn.png"></span></s>
						</li>
						<li class="isVideo">
							<span><img src="images/index/img-15.jpg"></span>
							<span><img src="images/play-btn.png"></span></s>
						</li>
					</ul>
				</div>
				<div class="reserve-link">
					<a href="">免费预约设计家居形象服务</a>
				</div>
			</div>

		</div>

		<!--底部-->
		<div class="footer">
			
			<!--分享-->
			<div class="shaer-box">
				<span>关注我们：</span>
				<div class="bdsharebuttonbox" data-tag="share_1">
					<ul>

						<li>
							<a href="javascript:;" class="weixin"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="sqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="qzone"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tqq"></a>
						</li>
						<li>
							<a href="javascript:;" data-cmd="tsina"></a>
						</li>
					</ul>
				</div>

			</div>
			
			<!--微信弹窗-->
			<div class="t-container">
				<div class="t-box">
					<i class="close-w"><img src="images/close_24.png"></i>
					<span><img src="images/about/img-01.jpg"></span>
				</div>
			</div>
			
			<!---->
			<div class="footer-nav">
				<ul>
					<li><a href="about/company.html">关于我们</a></li>
					<li>|</li>
					<li><a href="about/originator.html">品牌服务</a></li>
					<li>|</li>
					<li><a href="about/contactUS.html">商业合作</a></li>
				</ul>
			</div>
			<!---->
			<div class="footer-p">
				<p>2015 深圳市致尚家居有限公司版权所有 </p>
				<p>粤ICP备11015869号-1</p>
			</div>
		</div>
		
		
		<!--弹窗-->
		<div class="toolTip-container">
			<div class="toolTip-box">
				<div class="toolTip-title">
					<h1>提示</h1>
					<span class="toolTip-close"><img src="images/close.png"></span>
				</div>
				<div class="toolTip-info">
					<span>请正确输入！</span>	
				</div>
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/swiper.jquery.min.js" ></script>
	<script>
		function imgReload() {
			
			var imgHeight = 0;
			var wtmp = $("body").width();
			$("#b01 ul li").each(function() {
				$(this).css({
					width: wtmp + "px"
				});
			});
			$(".sliderimg").each(function() {
				$(this).css({
					width: wtmp + "px"
				});
				imgHeight = $(this).height();
			});
			var aLi = $('.swiper-slide');
			var bodyw = $(document).width();
			$('.swiper-button-prev').css({
				left: bodyw / 2 - aLi.length * 14 / 2 - 37
			});
			$('.swiper-button-next').css({
				right: bodyw / 2 - aLi.length * 14 / 2 - 37
			});
			//视频列表UL宽度
			var aVideo = $('.d-lists ul li').length;
			$('.d-lists ul').css({
				width: aVideo * (23 + 1.275) * bodyw / 100
			});
			$('.show-lists').css({
				height: $('.show-lists').width() + 'px'
			});
			
		}
		$(document).ready(function() {
			//banner
			imgReload();
			//banner
			
		    var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        slidesPerView: 1,
		        paginationClickable: true,
		        spaceBetween: 0,
		        autoplayDisableOnInteraction : false,
		        autoplay : 3000,
		        loop: true
		    });
    
			
			//播放视频
			playVideo('video1');
			playVideo('video2');
			playVideo('video3');
			
			$('.d-lists ul li').on('click', function() {
				$('.d-lists ul li').eq($(this).index()).addClass('choseVideo').siblings().removeClass('choseVideo');
				$('.v-video-lists .v-video').eq($(this).index()).addClass('videoShow').siblings().removeClass('videoShow');
				$('.show-box').eq($(this).index()).addClass('active-show').siblings().removeClass('active-show');
			});
			
			
			//弹窗
			$('.weixin').on('click',function(){
				$('.t-container').show();
			});
			$('.t-container').on('click',function(){
				$('.t-container').hide();
			});
			$('.t-box').on('click',function(e){
				  e = window.event || e;
			       if (e.stopPropagation) {
			         e.stopPropagation();
			       } else {
			         e.cancelBubble = true;
			       }

			});
			$('.close-w').on('click',function(e){
				$('.t-container').hide();
			});
			
		});
		$(window).load(function() {
			imgReload();
		});
		$(window).resize(function() {
			imgReload();
		})
	</script>
	<script>
		window._bd_share_config = {
				//此处添加分享具体设置
				common: {
					bdText: '自定义分享内容',
					bdDesc: '自定义分享摘要',
					bdUrl: '自定义分享url地址',
					bdPic: '自定义分享图片'
				},
				share: [{
					"bdSize": 16
				}]
			}
			//以下为js加载部分
		with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>

</html>