<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta name="viewport" content="width=640, user-scalable=no">
		<title>华为网络能源新年新征程</title>
		<link rel="stylesheet" href="css/mian.css" />
	</head>

	<body>
		<!--music-->
		<audio id="music" src="music/bg.mp3" preload="auto" loop="loop"></audio>

		<div class="music-icon"><img src="images/music.png"></div>

		<div id="H5_box">
			<!--视频-->
			<div class="video-box" id="video_box">
				<span></span>
				<video id="video" webkit-playsinline="true" x-webkit-airplay="true"   playsinline="true" width="640" height="360"></video>
			</div>

			<!--loading-->
			<div class="loading">
				<span><i></i><i></i><i></i></span>
				<span><i></i></span>
				<p>0%</p>
			</div>

			<!--开始页面-->
			<div class="start-page">
				<p>点击红包 开启旅程</p>
			</div>

			<div class="playhongbao">
				<span></span>
				<span></span>
				<canvas id="redcanvas"></canvas>
			</div>
			<!--主体动画-->
			<div id="container"></div>

		</div>
		<!--底部按钮-->
		<div class="btn-box ">
			<span class="active"></span>
			<span></span>
			<p>长按前进</p>
			<div class="hint-txt">
				<h1><img src="images/img-08.png"></h1>
				<h1><img src="images/img-09.png"></h1>
				<h1><img src="images/img-10.png"></h1>
				<h1><img src="images/img-11.png"></h1>
			</div>
		</div>
		<div class="info">
			<span><img src="images/img-01.png"></span>
			<span><img src="images/img-02.png"></span>
			<span><img src="images/img-03.png"></span>
			<span><img src="images/img-04.png"></span>
			<div class="a_btn">
				<ul>
					<li>
						<a class="index" href="http://demo.trendyactivity.com/hty/huaweiwangluonengyuan-h5/index.html"><img src="images/img-05.png"></a>
					</li>
					<li>
						<a class="video" href="https://v.qq.com/x/page/u0368eh39dh.html"><img src="images/img-06.png"></a>
					</li>
					<li class="share_btn">
						<a href="javascript:;"><img src="images/img-07.png"></a>
					</li>
				</ul>
			</div>
		</div>

		<!--提示分享-->
		<div class="share-box">
			<span><img src="images/share.png"></span>
		</div>
	</body>
	<script type="text/javascript" src="js/three.min.js"></script>
	<script type="text/javascript" src="js/tween.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/pxloader-all.min.js"></script>
	<script type="text/javascript" src="js/easeljs-0.8.2.min.js"></script>
	<script type="text/javascript" src="js/load-images.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="js/main.js"></script>


</html>